In [2]:
import xgboost as xgb
import pandas as pd 
import matplotlib.pyplot as plt

In [11]:
full_results = pd.read_csv('full_results.csv')
full_results
full_stats = pd.read_csv('FullKenPom_pt.csv')
#full_stats

['Unnamed: 0', 'Year', 'Round', 'Region Number', 'Region Name', 'SeedA', 'ScoreA', 'TeamA', 'TeamB', 'ScoreB', 'SeedB']

In [29]:
#mask = (data['value2'] == 'A') & (data['value'] > 4)
test_mask = (full_results['Year'] == 2016) | (full_results['Year'] == 2017) | (full_results['Year'] == 2018)
data_test = full_results[test_mask]

train_mask = (full_results['Year'] != 2016) & (full_results['Year'] != 2017) & (full_results['Year'] != 2018)
data_train = full_results[train_mask]

label = list(full_results.columns.values)

data_train

,Unnamed: 0,Year,Round,Region Number,Region Name,SeedA,ScoreA,TeamA,TeamB,ScoreB,SeedB
0,0,2002,0,0,First Four,16,77,Alcorn St,Siena,81,16
1,1,2002,1,1,South,1,84,Duke,Winthrop,37,16
2,2,2002,1,1,South,2,86,Alabama,Florida Atlantic,78,15
3,3,2002,1,1,South,3,71,Pittsburgh,Central Connecticut St,54,14
4,4,2002,1,1,South,4,89,USC,UNC Wilmington,93,13
5,5,2002,1,1,South,5,75,Indiana,Utah,56,12
6,6,2002,1,1,South,6,82,California,Pennsylvania,75,11
7,7,2002,1,1,South,7,61,Oklahoma St,Kent St,69,10
8,8,2002,1,1,South,8,82,Notre Dame,Charlotte,63,9
9,9,2002,1,2,West,1,90,Cincinnati,Boston University,52,16
10,10,2002,1,2,West,2,71,Oklahoma,Illinois Chicago,63,15
11,11,2002,1,2,West,3,86,Arizona,Santa Barbara,81,14
12,12,2002,1,2,West,4,69,Ohio St,Davidson,64,13
13,13,2002,1,2,West,5,80,Miami,Missouri,93,12
14,14,2002,1,2,West,6,66,Gonzaga,Wyoming,73,11
15,15,2002,1,2,West,7,70,Xavier,Hawaii,58,10
16,16,2002,1,2,West,8,80,UCLA,Ole Miss,58,9
17,17,2002,1,3,East,1,85,Maryland,Siena,70,16
18,18,2002,1,3,East,2,78,Connecticut,Hampton,67,15
19,19,2002,1,3,East,3,85,Georgia,Murray St,68,14
20,20,2002,1,3,East,4,83,Kentucky,Valparaiso,68,13
21,21,2002,1,3,East,5,69,Marquette,Tulsa,71,12
22,22,2002,1,3,East,6,68,Texas Tech,Southern Illinois,76,11
23,23,2002,1,3,East,7,69,NC State,Michigan St,58,10
24,24,2002,1,3,East,8,80,Wisconsin,St Johns,70,9
25,25,2002,1,4,Midwest,1,70,Kansas,Holy Cross,59,16
26,26,2002,1,4,Midwest,2,81,Oregon,Montana,62,15
27,27,2002,1,4,Midwest,3,70,Mississippi St,McNeese St,58,14
28,28,2002,1,4,Midwest,4,93,Illinois,San Diego St,64,13
29,29,2002,1,4,Midwest,5,82,Florida,Creighton,83,12
...,...,...,...,...,...,...,...,...,...,...,...
881,881,2015,2,1,Midwest,2,65,Kansas,Wichita St,78,7
882,882,2015,2,1,Midwest,3,67,Notre Dame,Butler,64,6
883,883,2015,2,1,Midwest,4,59,Maryland,West Virginia,69,5
884,884,2015,2,2,West,1,72,Wisconsin,Oregon,65,8
885,885,2015,2,2,West,2,73,Arizona,Ohio St,58,10
886,886,2015,2,2,West,6,75,Xavier,Georgia St,67,14
887,887,2015,2,2,West,4,87,North Carolina,Arkansas,78,5
888,888,2015,2,3,East,1,68,Villanova,NC State,71,8
889,889,2015,2,3,East,2,54,Virginia,Michigan St,60,7
890,890,2015,2,3,East,3,72,Oklahoma,Dayton,66,11
891,891,2015,2,3,East,4,66,Louisville,Northern Iowa,53,5
892,892,2015,2,4,South,1,68,Duke,San Diego St,49,8
893,893,2015,2,4,South,2,87,Gonzaga,Iowa,68,7
894,894,2015,2,4,South,11,92,UCLA,UAB,75,14
895,895,2015,2,4,South,4,64,Georgetown,Utah,75,5
896,896,2015,3,1,Midwest,1,78,Kentucky,West Virginia,39,5
897,897,2015,3,1,Midwest,3,81,Notre Dame,Wichita St,70,7
898,898,2015,3,2,West,1,79,Wisconsin,North Carolina,72,4
899,899,2015,3,2,West,2,68,Arizona,Xavier,60,6
900,900,2015,3,3,East,4,75,Louisville,NC State,65,8
901,901,2015,3,3,East,3,58,Oklahoma,Michigan St,62,7
902,902,2015,3,4,South,1,63,Duke,Utah,57,5
903,903,2015,3,4,South,2,74,Gonzaga,UCLA,62,11
904,904,2015,4,1,Midwest,1,68,Kentucky,Notre Dame,66,3
905,905,2015,4,2,West,1,85,Wisconsin,Arizona,78,2
906,906,2015,4,3,East,4,70,Louisville,Michigan St,76,7
907,907,2015,4,4,South,1,66,Duke,Gonzaga,52,2
908,908,2015,5,1,Final Four,1,71,Wisconsin,Kentucky,64,1
909,909,2015,5,2,Final Four,1,81,Duke,Michigan St,61,7
910,910,2015,6,1,Championship,1,68,Duke,Wisconsin,63,1

In [ ]:
train = xgb.DMatrix(data_train, label=label)
test = xgb.DMatrix(data_test, label = label)