In [85]:
import pandas as pd
import numpy as np

In [39]:
for year in range(2002,2019):
    pt_filename = "KenPom"+str(year)+"_pt.csv"
    final_filename = "KenPom_Final/KenPom"+str(year)+".csv"
    pt_kenpom = pd.read_csv(pt_filename,index_col=0)
    final_kenpom = pd.read_csv(final_filename,index_col=0)
    
    pt_kenpom = pt_kenpom.sort_values(by=['TeamName'])
    final_kenpom = final_kenpom.sort_values(by=['Team'])

    pt_kenpom = pt_kenpom.reset_index()
    final_kenpom = final_kenpom.reset_index()
    
    for n in range(len(pt_kenpom['TeamName'])):
        team_a = pt_kenpom['TeamName'][n]
        team_b = final_kenpom['Team'][n][:-1]
        if team_a != team_b:
            print(year, "team names don't line up,",team_a,team_b)
            continue
    
    pt_kenpom['SOSAdjEM'] = final_kenpom['SOSAdjEM']
    pt_kenpom['NCSOSAsjEM'] = final_kenpom['NCSOSAdjEM']
    
    pt_kenpom = pt_kenpom.set_index('index')
    pt_kenpom = pt_kenpom.sort_values(by='AdjEM',ascending=False)
    
    pt_kenpom.to_csv(pt_filename)
    print(year, "written")

2002 written
2003 written
2004 written
2005 written
2006 written
2007 written
2008 written
2009 written
2010 written
2011 written
2012 written
2013 written
2014 written
2015 written
2016 written
2017 written
2018 written

In [109]:
for year in range(2002,2019):
    ofilename = "FourFactorData/4f_offense"+str(year)+".csv"
    dfilename = "FourFactorData/4f_defense"+str(year)+".csv"
    kpfilename = "KenPom"+str(year)+"_pt.csv"

    ff_o = pd.read_csv(ofilename)
    ff_d = pd.read_csv(dfilename)
    kenpom = pd.read_csv(kpfilename)

    teamlist = kenpom['TeamName']
    teamlist = list(teamlist)

    for i in range(len(ff_o['TeamName'])):
        if ff_o['TeamName'][i] in teamlist:
            pass
        else:
            ff_o = ff_o.drop([i])

    for i in range(len(ff_d['TeamName'])):
        if ff_d['TeamName'][i] in teamlist:
            pass
        else:
            ff_d = ff_d.drop([i])
    
    kenpom = kenpom.sort_values(by=['TeamName'])
    ff_o = ff_o.sort_values(by=['TeamName'])
    ff_d = ff_d.sort_values(by=['TeamName'])

    kenpom = kenpom.reset_index()
    kenpom = kenpom.drop(columns=['level_0'])
    ff_o = ff_o.reset_index()
    ff_d = ff_d.reset_index()
        
    kenpom['O_eFG_Pct'] = ff_o['eFG_Pct']
    kenpom['D_eFG_Pct'] = ff_d['eFG_Pct']
    kenpom['O-D_eFG_Pct'] = kenpom['O_eFG_Pct'] - kenpom['D_eFG_Pct']

    kenpom['O_TO_Pct'] = ff_o['TO_Pct']
    kenpom['D_TO_Pct'] = ff_d['TO_Pct']
    kenpom['D-O_TO_Pct'] = kenpom['D_TO_Pct'] - kenpom['O_TO_Pct']

    kenpom['O_OR_Pct'] = ff_o['OR_Pct']
    kenpom['D_OR_Pct'] = ff_d['OR_Pct']
    kenpom['O-D_OR_Pct'] = kenpom['O_OR_Pct'] - kenpom['D_OR_Pct']

    kenpom['O_FT_Rate'] = ff_o['FT_Rate']
    kenpom['D_FT_Rate'] = ff_d['FT_Rate']
    kenpom['O-D_FT_Rate'] = kenpom['O_FT_Rate'] - kenpom['D_FT_Rate']
    
    kenpom = kenpom.set_index('index')
    kenpom = kenpom.sort_values(by='AdjEM',ascending=False)
    
    kenpom.to_csv(kpfilename)
    print(year, "written")

2002 written
2003 written
2004 written
2005 written
2006 written
2007 written
2008 written
2009 written
2010 written
2011 written
2012 written
2013 written
2014 written
2015 written
2016 written
2017 written
2018 written

In [117]:
kp = pd.read_csv("KenPom2018_pt.csv")
list(kp)

['index',
 'Season',
 'TeamName',
 'Tempo',
 'AdjTempo',
 'OE',
 'AdjOE',
 'DE',
 'AdjDE',
 'AdjEM',
 'seed',
 'ConfTournament',
 'SOSAdjEM',
 'NCSOSAsjEM',
 'O_eFG_Pct',
 'D_eFG_Pct',
 'O-D_eFG_Pct',
 'O_TO_Pct',
 'D_TO_Pct',
 'D-O_TO_Pct',
 'O_OR_Pct',
 'D_OR_Pct',
 'O-D_OR_Pct',
 'O_FT_Rate',
 'D_FT_Rate',
 'O-D_FT_Rate']

In [118]:
raw_results = pd.read_csv('raw_results.csv')

In [123]:
raw_results.head()
raw_results.shape

(1071, 10)

In [129]:
results = pd.DataFrame(raw_results,columns=list(raw_results))

results.head()

,Year,Round,Region Number,Region Name,SeedA,ScoreA,TeamA,TeamB,ScoreB,SeedB
0,2002,1,1,South,1,84,Duke,Winthrop,37,16
1,2002,1,1,South,2,86,Alabama,Florida Atlantic,78,15
2,2002,1,1,South,3,71,Pittsburgh,Central Connecticut St,54,14
3,2002,1,1,South,4,89,USC,UNC Wilmington,93,13
4,2002,1,1,South,5,75,Indiana,Utah,56,12

In [130]:
for i in range(len(raw_results['TeamA'])):
    if raw_results['SeedA'][i] < raw_results['SeedB'][i]:
        lowseed = raw_results['SeedA'][i]
        lowseedscore = raw_results['ScoreA'][i]
        lowseedteam = raw_results['TeamA'][i]
        highseed = raw_results['SeedB'][i]
        highseedscore = raw_results['ScoreB'][i]
        highseedteam = raw_results['TeamB'][i]
    else:
        lowseed = raw_results['SeedB'][i]
        lowseedscore = raw_results['ScoreB'][i]
        lowseedteam = raw_results['TeamB'][i]
        highseed = raw_results['SeedA'][i]
        highseedscore = raw_results['ScoreA'][i]
        highseedteam = raw_results['TeamA'][i]
    results['Year'][i] = raw_results['Year'][i]
    results['Round'][i] = raw_results['Round'][i]
    results['Region Number'][i] = raw_results['Region Number'][i]
    results['Region Name'][i] = raw_results['Region Name'][i]
    results['SeedA'][i] = lowseed
    results['ScoreA'][i] = lowseedscore
    results['TeamA'][i] = lowseedteam
    results['SeedB'][i] = highseed
    results['ScoreB'][i] = highseedscore
    results['TeamB'][i] = highseedteam
    print(i)

/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070

In [132]:
results.head(40)

,Year,Round,Region Number,Region Name,SeedA,ScoreA,TeamA,TeamB,ScoreB,SeedB
0,2002,1,1,South,1,84,Duke,Winthrop,37,16
1,2002,1,1,South,2,86,Alabama,Florida Atlantic,78,15
2,2002,1,1,South,3,71,Pittsburgh,Central Connecticut St,54,14
3,2002,1,1,South,4,89,USC,UNC Wilmington,93,13
4,2002,1,1,South,5,75,Indiana,Utah,56,12
5,2002,1,1,South,6,82,California,Pennsylvania,75,11
6,2002,1,1,South,7,61,Oklahoma St,Kent St,69,10
7,2002,1,1,South,8,82,Notre Dame,Charlotte,63,9
8,2002,1,2,West,1,90,Cincinnati,Boston University,52,16
9,2002,1,2,West,2,71,Oklahoma,Illinois Chicago,63,15
10,2002,1,2,West,3,86,Arizona,Santa Barbara,81,14
11,2002,1,2,West,4,69,Ohio St,Davidson,64,13
12,2002,1,2,West,5,80,Miami,Missouri,93,12
13,2002,1,2,West,6,66,Gonzaga,Wyoming,73,11
14,2002,1,2,West,7,70,Xavier,Hawaii,58,10
15,2002,1,2,West,8,80,UCLA,Ole Miss,58,9
16,2002,1,3,East,1,85,Maryland,Siena,70,16
17,2002,1,3,East,2,78,Connecticut,Hampton,67,15
18,2002,1,3,East,3,85,Georgia,Murray St,68,14
19,2002,1,3,East,4,83,Kentucky,Valparaiso,68,13
20,2002,1,3,East,5,69,Marquette,Tulsa,71,12
21,2002,1,3,East,6,68,Texas Tech,Southern Illinois,76,11
22,2002,1,3,East,7,69,NC State,Michigan St,58,10
23,2002,1,3,East,8,80,Wisconsin,St Johns,70,9
24,2002,1,4,Midwest,1,70,Kansas,Holy Cross,59,16
25,2002,1,4,Midwest,2,81,Oregon,Montana,62,15
26,2002,1,4,Midwest,3,70,Mississippi St,McNeese St,58,14
27,2002,1,4,Midwest,4,93,Illinois,San Diego St,64,13
28,2002,1,4,Midwest,5,82,Florida,Creighton,83,12
29,2002,1,4,Midwest,6,70,Texas,Boston College,57,11
30,2002,1,4,Midwest,7,83,Wake Forest,Pepperdine,74,10
31,2002,1,4,Midwest,8,84,Stanford,Western Kentucky,68,9
32,2002,2,1,South,1,84,Duke,Notre Dame,77,8
33,2002,2,1,South,2,58,Alabama,Kent St,71,10
34,2002,2,1,South,3,63,Pittsburgh,California,50,6
35,2002,2,1,South,5,76,Indiana,UNC Wilmington,67,13
36,2002,2,2,West,1,101,Cincinnati,UCLA,105,8
37,2002,2,2,West,2,78,Oklahoma,Xavier,65,7
38,2002,2,2,West,3,68,Arizona,Wyoming,60,11
39,2002,2,2,West,4,67,Ohio St,Missouri,83,12

In [285]:
upsets = pd.DataFrame(columns=list(results))
upsets.head()

Empty DataFrame
Columns: [Year, Round, Region Number, Region Name, SeedA, ScoreA, TeamA, TeamB, ScoreB, SeedB]
Index: []

In [286]:
for i in range(len(results['TeamA'])):
    seed_diff = results['SeedB'][i] - results['SeedA'][i]
    point_diff = results['ScoreB'][i] - results['ScoreA'][i]
    if (seed_diff >= 7) and (point_diff > 0):
        upsets.loc[i] = results.loc[i]

In [287]:
upsets.shape

(97, 10)

In [288]:
upsets.to_csv("upset_results.csv")

In [289]:
results.to_csv("full_results.csv")

In [290]:
# remove punctuation from KenPom Data
import string
translator = str.maketrans('', '', string.punctuation)

names_df = pd.read_csv("TeamNameInconsistencies.csv")
kenpom_names = list(names_df['KenPom'])
results_names = list(names_df['Results'])

for year in range(2002,2019):
    filename = "KenPom"+str(year)+"_pt.csv"
    kp = pd.read_csv(filename)
    for i in range(len(kp['TeamName'])):
        kp['TeamName'][i] = kp['TeamName'][i].translate(translator)
        
        if kp['TeamName'][i] in kenpom_names: #Change KenPom names to Results names
            indx = kenpom_names.index(kp['TeamName'][i])
            kp['TeamName'][i] = results_names[indx]
    kp.to_csv(filename)
    print(year, "written")

/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

2002 written
2003 written

/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2004 written
2005 written
2006 written
2007 written
2008 written
2009 written
2010 written
2011 written
2012 written
2013 written
2014 written
2015 written
2016 written
2017 written
2018 written

In [292]:
results = pd.read_csv("full_results.csv")

for year in range(2002,2019):
    kpfilename = "KenPom"+str(year)+"_pt.csv"
    kp = pd.read_csv(kpfilename)
    
    teamlist = []
    ctr = 0
    
    for i in range(len(results['TeamA'])):
        if results['Year'][i] == year:
            if results['TeamA'][i] not in teamlist:
                teamlist.append(results['TeamA'][i])
            if results['TeamB'][i] not in teamlist:
                teamlist.append(results['TeamB'][i])
    kpteamlist = sorted(list(kp['TeamName']))
    teamlist = sorted(teamlist)
    print("\nYear:",year,"  ",len(kpteamlist),len(teamlist))
    for k in range(len(teamlist)):
        if kpteamlist[k] != teamlist[k]:
            print(kpteamlist[k],"  ",teamlist[k])
            ctr += 1
    if ctr == 0:
        print("All match")

Year: 2002    65 65
All match

Year: 2003    65 65
All match

Year: 2004    65 65
All match

Year: 2005    65 65
All match

Year: 2006    65 65
All match

Year: 2007    65 65
All match

Year: 2008    65 65
All match

Year: 2009    65 65
All match

Year: 2010    65 65
All match

Year: 2011    68 68
All match

Year: 2012    68 68
All match

Year: 2013    68 68
All match

Year: 2014    68 68
All match

Year: 2015    68 68
Louisiana Lafayette    Lafayette

Year: 2016    68 68
All match

Year: 2017    68 68
All match

Year: 2018    68 68
All match

In [293]:
kp_full = pd.read_csv("KenPom2002_pt.csv")

for year in range(2003,2019):
    filename = "KenPom"+str(year)+"_pt.csv"
    kp = pd.read_csv(filename)
    kp_full = kp_full.append(kp)

In [277]:
kp_full.to_csv("FullKenPom_pt.csv")

In [294]:
kp_full = pd.read_csv("FullKenPom_pt.csv")
upsets = pd.read_csv("upset_results.csv")

upset_winners = pd.DataFrame(columns=list(kp_full))
upset_losers = pd.DataFrame(columns=list(kp_full))

In [295]:
for i in range(len(upsets['TeamA'])):
    print(i)
    for k in range(len(kp_full['TeamName'])):
        if (upsets['Year'][i] == kp_full['Season'][k]) and (upsets['TeamB'][i] == kp_full['TeamName'][k]):
            upset_winners = upset_winners.append(kp_full.loc[k], ignore_index=True)
            continue
        if (upsets['Year'][i] == kp_full['Season'][k]) and (upsets['TeamA'][i] == kp_full['TeamName'][k]):
            upset_losers = upset_losers.append(kp_full.loc[k], ignore_index=True)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96

In [296]:
upset_winners.to_csv("upset_winners.csv")
upset_losers.to_csv("upset_losers.csv")

In [297]:
non_upsets = pd.DataFrame(columns=list(results))
for i in range(len(results['TeamA'])):
    seed_diff = results['SeedB'][i] - results['SeedA'][i]
    point_diff = results['ScoreB'][i] - results['ScoreA'][i]
    if (seed_diff >= 7) and (point_diff < 0):
        non_upsets.loc[i] = results.loc[i]
        
non_upsets = non_upsets.reset_index()

In [298]:
non_upsets.to_csv("non_upset_results.csv")

In [299]:
non_upsets.head()

,index,Unnamed: 0,Year,Round,Region Number,Region Name,SeedA,ScoreA,TeamA,TeamB,ScoreB,SeedB
0,1,1,2002,1,1,South,1,84,Duke,Winthrop,37,16
1,2,2,2002,1,1,South,2,86,Alabama,Florida Atlantic,78,15
2,3,3,2002,1,1,South,3,71,Pittsburgh,Central Connecticut St,54,14
3,5,5,2002,1,1,South,5,75,Indiana,Utah,56,12
4,9,9,2002,1,2,West,1,90,Cincinnati,Boston University,52,16

In [300]:
non_upset_winners = pd.DataFrame(columns=list(kp_full))
non_upset_losers = pd.DataFrame(columns=list(kp_full))
non_upsets = pd.read_csv("non_upset_results.csv")

for i in range(len(non_upsets['TeamA'])):
    print(i)
    for k in range(len(kp_full['TeamName'])):
        if (non_upsets['Year'][i] == kp_full['Season'][k]) and (non_upsets['TeamA'][i] == kp_full['TeamName'][k]):
            non_upset_winners = non_upset_winners.append(kp_full.loc[k], ignore_index=True)
            continue
        if (non_upsets['Year'][i] == kp_full['Season'][k]) and (non_upsets['TeamB'][i] == kp_full['TeamName'][k]):
            non_upset_losers = non_upset_losers.append(kp_full.loc[k], ignore_index=True)
            
non_upset_winners.to_csv("non_upset_winners.csv")
non_upset_losers.to_csv("non_upset_losers.csv")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434

In [237]:
teams = []
for team in kp_full['TeamName']:
    if team not in teams:
        teams.append(team)
        
teams = sorted(teams)
teams_df = pd.Series(teams)
teams_df.to_csv("TeamNameList.csv")

In [273]:
full_results = pd.read_csv("Kaggle/RegularSeasonCompactResults.csv")
teamnames = pd.read_csv("Kaggle/Teams.csv")
kp_full = pd.read_csv("FullKenPom_pt.csv")

In [274]:
kp_full['LastTenRecord'] = pd.Series(np.zeros(len(kp_full['TeamName'])), index=kp_full.index)
kp_full.head()

,Season,TeamName,Tempo,AdjTempo,OE,AdjOE,DE,AdjDE,AdjEM,seed,...,O_TO_Pct,D_TO_Pct,D-O_TO_Pct,O_OR_Pct,D_OR_Pct,O-D_OR_Pct,O_FT_Rate,D_FT_Rate,O-D_FT_Rate,LastTenRecord
0,2002,Duke,77.0734,73.9016,116.373,121.374,90.2544,87.3522,34.0220,1,...,18.5699,25.6865,7.1166,34.4605,34.0618,0.3987,41.0140,32.1378,8.8762,0.0
1,2002,Cincinnati,68.4368,66.9485,112.274,117.448,86.3924,86.6033,30.8442,1,...,17.1142,21.2481,4.1339,37.7143,31.3235,6.3908,40.5118,30.3685,10.1433,0.0
2,2002,Kansas,79.0371,77.6019,114.544,118.100,94.4261,90.3113,27.7883,1,...,20.4253,20.6425,0.2172,41.2084,32.5214,8.6870,35.2239,29.4168,5.8071,0.0
3,2002,Maryland,75.2758,73.3263,113.167,118.151,94.3706,91.2974,26.8534,1,...,18.3287,20.5133,2.1846,36.0518,33.5535,2.4983,41.5036,30.9028,10.6008,0.0
4,2002,Florida,71.8971,69.5612,110.418,115.387,91.1250,89.6694,25.7176,5,...,20.5232,25.2218,4.6986,38.4960,33.1315,5.3645,36.1769,34.5721,1.6048,0.0

In [275]:
for year in range(2002,2019): # do this by year
    filename = "KenPom"+str(year)+"_pt.csv"
    kp_yr = pd.read_csv(filename)
    
    record_dict = {}
    k=0
    
    for team in kp_yr['TeamName']:
        k += 1
        wins = 0
        losses = 0
        for i in range(len(teamnames['TeamName'])):
                if teamnames['TeamName'][i] == team:
                    team_id = teamnames['TeamID'][i]
        for i in range(len(full_results['WTeamID'])-1,0,-1):
            if (wins+losses) == 10:
                break
            if full_results['Season'][i] == year:
                if full_results['WTeamID'][i] == team_id:
                    wins += 1
                elif full_results['LTeamID'][i] == team_id:
                    losses += 1
        record = wins/10
        for i in range(len(kp_full['TeamName'])):
            if (kp_full['Season'][i] == year) and (kp_full['TeamName'][i] == team):
                kp_full['LastTenRecord'][i] = record
        
        record_dict[team] = [wins,losses,record]
        print(year,"  ",k)
        
    print("Year:",year)
    print(record_dict)
    print("\n\n")

/Users/addisonwood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2002    1
2002    2
2002    3
2002    4
2002    5
2002    6
2002    7
2002    8
2002    9
2002    10
2002    11
2002    12
2002    13
2002    14
2002    15
2002    16
2002    17
2002    18
2002    19
2002    20
2002    21
2002    22
2002    23
2002    24
2002    25
2002    26
2002    27
2002    28
2002    29
2002    30
2002    31
2002    32
2002    33
2002    34
2002    35
2002    36
2002    37
2002    38
2002    39
2002    40
2002    41
2002    42
2002    43
2002    44
2002    45
2002    46
2002    47
2002    48
2002    49
2002    50
2002    51
2002    52
2002    53
2002    54
2002    55
2002    56
2002    57
2002    58
2002    59
2002    60
2002    61
2002    62
2002    63
2002    64
2002    65
Year: 2002
{'Duke': [8, 2, 0.8], 'Cincinnati': [9, 1, 0.9], 'Kansas': [9, 1, 0.9], 'Maryland': [9, 1, 0.9], 'Florida': [6, 4, 0.6], 'Oklahoma': [9, 1, 0.9], 'Oregon': [7, 3, 0.7], 'Indiana': [6, 4, 0.6], 'Marquette': [7, 3, 0.7], 'Kentucky': [6, 4, 0.6], 'Illinois': [6, 4, 0.6], 'USC': [6, 4, 0.6], 'Arizona': [7, 3, 0.7], 'Stanford': [6, 4, 0.6], 'Ohio St': [6, 4, 0.6], 'Alabama': [6, 4, 0.6], 'Gonzaga': [10, 0, 1.0], 'Kent St': [10, 0, 1.0], 'Pittsburgh': [9, 1, 0.9], 'Mississippi St': [9, 1, 0.9], 'Georgia': [5, 5, 0.5], 'Xavier': [8, 2, 0.8], 'Connecticut': [9, 1, 0.9], 'Ole Miss': [4, 6, 0.4], 'NC State': [6, 4, 0.6], 'Notre Dame': [6, 4, 0.6], 'Texas Tech': [7, 3, 0.7], 'Michigan St': [7, 3, 0.7], 'Charlotte': [5, 5, 0.5], 'California': [7, 3, 0.7], 'Wake Forest': [4, 6, 0.4], 'Texas': [6, 4, 0.6], 'Miami': [6, 4, 0.6], 'Oklahoma St': [6, 4, 0.6], 'UCLA': [5, 5, 0.5], 'Western Kentucky': [10, 0, 1.0], 'Utah': [5, 5, 0.5], 'Tulsa': [8, 2, 0.8], 'Missouri': [5, 5, 0.5], 'Valparaiso': [9, 1, 0.9], 'Hawaii': [8, 2, 0.8], 'Wisconsin': [7, 3, 0.7], 'Pepperdine': [8, 2, 0.8], 'Southern Illinois': [7, 3, 0.7], 'Pennsylvania': [10, 0, 1.0], 'Creighton': [8, 2, 0.8], 'Wyoming': [7, 3, 0.7], 'UNC Wilmington': [8, 2, 0.8], 'San Diego St': [8, 2, 0.8], 'Boston College': [5, 5, 0.5], 'Santa Barbara': [8, 2, 0.8], 'St Johns': [6, 4, 0.6], 'McNeese St': [10, 0, 1.0], 'Hampton': [9, 1, 0.9], 'Davidson': [7, 3, 0.7], 'Illinois Chicago': [9, 1, 0.9], 'Murray St': [9, 1, 0.9], 'Central Connecticut St': [10, 0, 1.0], 'Holy Cross': [8, 2, 0.8], 'Siena': [6, 4, 0.6], 'Boston University': [9, 1, 0.9], 'Florida Atlantic': [7, 3, 0.7], 'Montana': [6, 4, 0.6], 'Winthrop': [8, 2, 0.8], 'Alcorn St': [8, 2, 0.8]}



2003    1
2003    2
2003    3
2003    4
2003    5
2003    6
2003    7
2003    8
2003    9
2003    10
2003    11
2003    12
2003    13
2003    14
2003    15
2003    16
2003    17
2003    18
2003    19
2003    20
2003    21
2003    22
2003    23
2003    24
2003    25
2003    26
2003    27
2003    28
2003    29
2003    30
2003    31
2003    32
2003    33
2003    34
2003    35
2003    36
2003    37
2003    38
2003    39
2003    40
2003    41
2003    42
2003    43
2003    44
2003    45
2003    46
2003    47
2003    48
2003    49
2003    50
2003    51
2003    52
2003    53
2003    54
2003    55
2003    56
2003    57
2003    58
2003    59
2003    60
2003    61
2003    62
2003    63
2003    64
2003    65
Year: 2003
{'Kentucky': [10, 0, 1.0], 'Pittsburgh': [9, 1, 0.9], 'Kansas': [8, 2, 0.8], 'Arizona': [9, 1, 0.9], 'Illinois': [9, 1, 0.9], 'Louisville': [6, 4, 0.6], 'Florida': [6, 4, 0.6], 'Oklahoma': [8, 2, 0.8], 'Texas': [8, 2, 0.8], 'Duke': [8, 2, 0.8], 'Mississippi St': [6, 4, 0.6], 'Wisconsin': [7, 3, 0.7], 'St Josephs': [7, 3, 0.7], 'Maryland': [5, 5, 0.5], 'Marquette': [8, 2, 0.8], 'Xavier': [9, 1, 0.9], 'Wake Forest': [8, 2, 0.8], 'LSU': [8, 2, 0.8], 'Syracuse': [8, 2, 0.8], 'Notre Dame': [4, 6, 0.4], 'Connecticut': [6, 4, 0.6], 'Creighton': [8, 2, 0.8], 'BYU': [7, 3, 0.7], 'Memphis': [9, 1, 0.9], 'Michigan St': [6, 4, 0.6], 'Missouri': [6, 4, 0.6], 'Oklahoma St': [3, 7, 0.3], 'Arizona St': [6, 4, 0.6], 'Purdue': [4, 6, 0.4], 'Colorado': [6, 4, 0.6], 'Dayton': [8, 2, 0.8], 'Alabama': [4, 6, 0.4], 'Butler': [8, 2, 0.8], 'Cincinnati': [4, 6, 0.4], 'Gonzaga': [7, 3, 0.7], 'Stanford': [7, 3, 0.7], 'Utah': [7, 3, 0.7], 'Indiana': [6, 4, 0.6], 'UNC Wilmington': [9, 1, 0.9], 'Oregon': [7, 3, 0.7], 'Pennsylvania': [10, 0, 1.0], 'California': [6, 4, 0.6], 'NC State': [5, 5, 0.5], 'Auburn': [4, 6, 0.4], 'Wisconsin Milwaukee': [8, 2, 0.8], 'Southern Illinois': [8, 2, 0.8], 'Western Kentucky': [10, 0, 1.0], 'Tulsa': [9, 1, 0.9], 'Central Michigan': [9, 1, 0.9], 'Holy Cross': [10, 0, 1.0], 'Manhattan': [7, 3, 0.7], 'Weber St': [10, 0, 1.0], 'San Diego': [8, 2, 0.8], 'Utah St': [7, 3, 0.7], 'Troy': [9, 1, 0.9], 'Colorado St': [5, 5, 0.5], 'Austin Peay': [9, 1, 0.9], 'Sam Houston St': [9, 1, 0.9], 'Vermont': [8, 2, 0.8], 'IUPUI': [8, 2, 0.8], 'East Tennessee St': [8, 2, 0.8], 'Wagner': [8, 2, 0.8], 'South Carolina St': [7, 3, 0.7], 'Texas Southern': [5, 5, 0.5], 'UNC Asheville': [5, 5, 0.5]}



2004    1
2004    2
2004    3
2004    4
2004    5
2004    6
2004    7
2004    8
2004    9
2004    10
2004    11
2004    12
2004    13
2004    14
2004    15
2004    16
2004    17
2004    18
2004    19
2004    20
2004    21
2004    22
2004    23
2004    24
2004    25
2004    26
2004    27
2004    28
2004    29
2004    30
2004    31
2004    32
2004    33
2004    34
2004    35
2004    36
2004    37
2004    38
2004    39
2004    40
2004    41
2004    42
2004    43
2004    44
2004    45
2004    46
2004    47
2004    48
2004    49
2004    50
2004    51
2004    52
2004    53
2004    54
2004    55
2004    56
2004    57
2004    58
2004    59
2004    60
2004    61
2004    62
2004    63
2004    64
2004    65
Year: 2004
{'Duke': [6, 4, 0.6], 'St Josephs': [9, 1, 0.9], 'Gonzaga': [10, 0, 1.0], 'Pittsburgh': [7, 3, 0.7], 'Connecticut': [8, 2, 0.8], 'Georgia Tech': [6, 4, 0.6], 'Oklahoma St': [9, 1, 0.9], 'Wisconsin': [8, 2, 0.8], 'Kentucky': [9, 1, 0.9], 'NC State': [6, 4, 0.6], 'Cincinnati': [7, 3, 0.7], 'Stanford': [9, 1, 0.9], 'North Carolina': [5, 5, 0.5], 'Mississippi St': [8, 2, 0.8], 'Wake Forest': [6, 4, 0.6], 'Louisville': [4, 6, 0.4], 'Texas': [6, 4, 0.6], 'Maryland': [6, 4, 0.6], 'Florida': [6, 4, 0.6], 'Illinois': [6, 4, 0.6], 'Vanderbilt': [6, 4, 0.6], 'Nevada': [9, 1, 0.9], 'Providence': [6, 4, 0.6], 'Kansas': [6, 4, 0.6], 'Xavier': [9, 1, 0.9], 'Seton Hall': [6, 4, 0.6], 'Western Michigan': [8, 2, 0.8], 'Arizona': [6, 4, 0.6], 'South Carolina': [4, 6, 0.4], 'Alabama': [6, 4, 0.6], 'BYU': [9, 1, 0.9], 'Air Force': [7, 3, 0.7], 'Texas Tech': [5, 5, 0.5], 'Memphis': [7, 3, 0.7], 'Syracuse': [7, 3, 0.7], 'Richmond': [7, 3, 0.7], 'Michigan St': [7, 3, 0.7], 'Utah': [7, 3, 0.7], 'Charlotte': [7, 3, 0.7], 'Boston College': [8, 2, 0.8], 'UTEP': [7, 3, 0.7], 'UAB': [7, 3, 0.7], 'Southern Illinois': [8, 2, 0.8], 'DePaul': [8, 2, 0.8], 'Murray St': [9, 1, 0.9], 'Manhattan': [9, 1, 0.9], 'Washington': [8, 2, 0.8], 'Illinois Chicago': [9, 1, 0.9], 'Louisiana Lafayette': [4, 6, 0.4], 'Dayton': [5, 5, 0.5], 'Pacific': [10, 0, 1.0], 'VCU': [9, 1, 0.9], 'Northern Iowa': [9, 1, 0.9], 'East Tennessee St': [9, 1, 0.9], 'Central Florida': [9, 1, 0.9], 'Princeton': [9, 1, 0.9], 'Eastern Washington': [8, 2, 0.8], 'Valparaiso': [8, 2, 0.8], 'Vermont': [7, 3, 0.7], 'Liberty': [8, 2, 0.8], 'Monmouth': [7, 3, 0.7], 'Lehigh': [7, 3, 0.7], 'Texas San Antonio': [9, 1, 0.9], 'Alabama St': [9, 1, 0.9], 'Florida A&M': [6, 4, 0.6]}



2005    1
2005    2
2005    3
2005    4
2005    5
2005    6
2005    7
2005    8
2005    9
2005    10
2005    11
2005    12
2005    13
2005    14
2005    15
2005    16
2005    17
2005    18
2005    19
2005    20
2005    21
2005    22
2005    23
2005    24
2005    25
2005    26
2005    27
2005    28
2005    29
2005    30
2005    31
2005    32
2005    33
2005    34
2005    35
2005    36
2005    37
2005    38
2005    39
2005    40
2005    41
2005    42
2005    43
2005    44
2005    45
2005    46
2005    47
2005    48
2005    49
2005    50
2005    51
2005    52
2005    53
2005    54
2005    55
2005    56
2005    57
2005    58
2005    59
2005    60
2005    61
2005    62
2005    63
2005    64
2005    65
Year: 2005
{'Illinois': [7, 3, 0.7], 'North Carolina': [8, 2, 0.8], 'Duke': [7, 3, 0.7], 'Wake Forest': [8, 2, 0.8], 'Oklahoma St': [7, 3, 0.7], 'Michigan St': [8, 2, 0.8], 'Florida': [9, 1, 0.9], 'Louisville': [9, 1, 0.9], 'Kentucky': [7, 3, 0.7], 'Kansas': [5, 5, 0.5], 'Villanova': [8, 2, 0.8], 'Oklahoma': [7, 3, 0.7], 'Connecticut': [8, 2, 0.8], 'Washington': [8, 2, 0.8], 'Alabama': [7, 3, 0.7], 'Syracuse': [6, 4, 0.6], 'Arizona': [8, 2, 0.8], 'Georgia Tech': [6, 4, 0.6], 'Wisconsin': [7, 3, 0.7], 'Utah St': [8, 2, 0.8], 'Cincinnati': [7, 3, 0.7], 'Utah': [8, 2, 0.8], 'NC State': [6, 4, 0.6], 'Pittsburgh': [5, 5, 0.5], 'Gonzaga': [10, 0, 1.0], 'Boston College': [6, 4, 0.6], 'Texas': [5, 5, 0.5], 'Iowa': [6, 4, 0.6], 'Southern Illinois': [9, 1, 0.9], 'New Mexico': [9, 1, 0.9], 'Texas Tech': [5, 5, 0.5], 'Minnesota': [6, 4, 0.6], 'George Washington': [8, 2, 0.8], 'LSU': [8, 2, 0.8], 'Mississippi St': [5, 5, 0.5], 'Creighton': [9, 1, 0.9], 'Pacific': [9, 1, 0.9], 'West Virginia': [7, 3, 0.7], 'Vermont': [7, 3, 0.7], 'Northern Iowa': [7, 3, 0.7], 'Iowa St': [7, 3, 0.7], 'Wisconsin Milwaukee': [9, 1, 0.9], 'UAB': [5, 5, 0.5], 'Charlotte': [7, 3, 0.7], 'Stanford': [6, 4, 0.6], 'UTEP': [8, 2, 0.8], 'Nevada': [9, 1, 0.9], 'UCLA': [6, 4, 0.6], 'Pennsylvania': [9, 1, 0.9], 'Old Dominion': [8, 2, 0.8], 'St Marys': [7, 3, 0.7], 'Louisiana Lafayette': [4, 6, 0.4], 'Ohio': [8, 2, 0.8], 'Bucknell': [7, 3, 0.7], 'Niagara': [7, 3, 0.7], 'Winthrop': [10, 0, 1.0], 'Southeastern Louisiana': [8, 2, 0.8], 'Eastern Kentucky': [8, 2, 0.8], 'Chattanooga': [7, 3, 0.7], 'Oakland': [6, 4, 0.6], 'Montana': [8, 2, 0.8], 'Fairleigh Dickinson': [8, 2, 0.8], 'Central Florida': [9, 1, 0.9], 'Delaware St': [8, 2, 0.8], 'Alabama A&M': [7, 3, 0.7]}

2006    1
2006    2
2006    3
2006    4
2006    5
2006    6
2006    7
2006    8
2006    9
2006    10
2006    11
2006    12
2006    13
2006    14
2006    15
2006    16
2006    17
2006    18
2006    19
2006    20
2006    21
2006    22
2006    23
2006    24
2006    25
2006    26
2006    27
2006    28
2006    29
2006    30
2006    31
2006    32
2006    33
2006    34
2006    35
2006    36
2006    37
2006    38
2006    39
2006    40
2006    41
2006    42
2006    43
2006    44
2006    45
2006    46
2006    47
2006    48
2006    49
2006    50
2006    51
2006    52
2006    53
2006    54
2006    55
2006    56
2006    57
2006    58
2006    59
2006    60
2006    61
2006    62
2006    63
2006    64
2006    65
Year: 2006
{'Duke': [8, 2, 0.8], 'Texas': [7, 3, 0.7], 'Connecticut': [8, 2, 0.8], 'Villanova': [8, 2, 0.8], 'Kansas': [9, 1, 0.9], 'Florida': [7, 3, 0.7], 'Illinois': [7, 3, 0.7], 'North Carolina': [8, 2, 0.8], 'Ohio St': [8, 2, 0.8], 'Memphis': [9, 1, 0.9], 'UCLA': [8, 2, 0.8], 'Pittsburgh': [6, 4, 0.6], 'LSU': [8, 2, 0.8], 'Georgetown': [5, 5, 0.5], 'Iowa': [7, 3, 0.7], 'Tennessee': [6, 4, 0.6], 'Washington': [8, 2, 0.8], 'Boston College': [8, 2, 0.8], 'Arkansas': [7, 3, 0.7], 'West Virginia': [4, 6, 0.4], 'Michigan St': [4, 6, 0.4], 'NC State': [5, 5, 0.5], 'Indiana': [5, 5, 0.5], 'George Mason': [8, 2, 0.8], 'Wisconsin': [4, 6, 0.4], 'Northern Iowa': [4, 6, 0.4], 'Bradley': [7, 3, 0.7], 'Nevada': [10, 0, 1.0], 'Kentucky': [6, 4, 0.6], 'Texas A&M': [8, 2, 0.8], 'Arizona': [6, 4, 0.6], 'Marquette': [5, 5, 0.5], 'Wichita St': [7, 3, 0.7], 'Air Force': [7, 3, 0.7], 'George Washington': [9, 1, 0.9], 'Oklahoma': [6, 4, 0.6], 'UNC Wilmington': [9, 1, 0.9], 'Southern Illinois': [6, 4, 0.6], 'Gonzaga': [10, 0, 1.0], 'California': [6, 4, 0.6], 'Syracuse': [6, 4, 0.6], 'San Diego St': [8, 2, 0.8], 'Xavier': [7, 3, 0.7], 'Bucknell': [9, 1, 0.9], 'UAB': [8, 2, 0.8], 'Wisconsin Milwaukee': [6, 4, 0.6], 'Utah St': [7, 3, 0.7], 'Iona': [7, 3, 0.7], 'Pacific': [9, 1, 0.9], 'Alabama': [6, 4, 0.6], 'Kent St': [9, 1, 0.9], 'South Alabama': [9, 1, 0.9], 'Seton Hall': [5, 5, 0.5], 'Winthrop': [9, 1, 0.9], 'Montana': [7, 3, 0.7], 'Murray St': [9, 1, 0.9], 'Pennsylvania': [8, 2, 0.8], 'Northwestern St': [9, 1, 0.9], 'Oral Roberts': [8, 2, 0.8], 'Davidson': [7, 3, 0.7], 'Albany': [8, 2, 0.8], 'Belmont': [9, 1, 0.9], 'Monmouth': [7, 3, 0.7], 'Southern': [9, 1, 0.9], 'Hampton': [5, 5, 0.5]}



2007    1
2007    2
2007    3
2007    4
2007    5
2007    6
2007    7
2007    8
2007    9
2007    10
2007    11
2007    12
2007    13
2007    14
2007    15
2007    16
2007    17
2007    18
2007    19
2007    20
2007    21
2007    22
2007    23
2007    24
2007    25
2007    26
2007    27
2007    28
2007    29
2007    30
2007    31
2007    32
2007    33
2007    34
2007    35
2007    36
2007    37
2007    38
2007    39
2007    40
2007    41
2007    42
2007    43
2007    44
2007    45
2007    46
2007    47
2007    48
2007    49
2007    50
2007    51
2007    52
2007    53
2007    54
2007    55
2007    56
2007    57
2007    58
2007    59
2007    60
2007    61
2007    62
2007    63
2007    64
2007    65
Year: 2007
{'North Carolina': [7, 3, 0.7], 'Ohio St': [10, 0, 1.0], 'Florida': [7, 3, 0.7], 'Kansas': [10, 0, 1.0], 'Georgetown': [9, 1, 0.9], 'Texas A&M': [7, 3, 0.7], 'Wisconsin': [7, 3, 0.7], 'UCLA': [7, 3, 0.7], 'Memphis': [10, 0, 1.0], 'Duke': [4, 6, 0.4], 'Pittsburgh': [6, 4, 0.6], 'Maryland': [8, 2, 0.8], 'Indiana': [5, 5, 0.5], 'Butler': [6, 4, 0.6], 'Kentucky': [4, 6, 0.4], 'Michigan St': [5, 5, 0.5], 'Notre Dame': [7, 3, 0.7], 'Villanova': [7, 3, 0.7], 'Texas': [8, 2, 0.8], 'Southern Illinois': [9, 1, 0.9], 'Georgia Tech': [7, 3, 0.7], 'Oregon': [7, 3, 0.7], 'Louisville': [7, 3, 0.7], 'Arizona': [6, 4, 0.6], 'Creighton': [7, 3, 0.7], 'Xavier': [9, 1, 0.9], 'Virginia Tech': [5, 5, 0.5], 'Washington St': [7, 3, 0.7], 'Marquette': [5, 5, 0.5], 'Illinois': [5, 5, 0.5], 'Purdue': [7, 3, 0.7], 'Arkansas': [6, 4, 0.6], 'Tennessee': [7, 3, 0.7], 'Nevada': [8, 2, 0.8], 'Boston College': [5, 5, 0.5], 'Gonzaga': [7, 3, 0.7], 'BYU': [8, 2, 0.8], 'UNLV': [9, 1, 0.9], 'Winthrop': [10, 0, 1.0], 'USC': [5, 5, 0.5], 'VCU': [8, 2, 0.8], 'Virginia': [6, 4, 0.6], 'Vanderbilt': [5, 5, 0.5], 'Davidson': [10, 0, 1.0], 'Old Dominion': [9, 1, 0.9], 'Stanford': [4, 6, 0.4], 'Texas Tech': [6, 4, 0.6], 'Oral Roberts': [8, 2, 0.8], 'George Washington': [8, 2, 0.8], 'Pennsylvania': [10, 0, 1.0], 'Miami Ohio': [7, 3, 0.7], 'Texas A&M Corpus Christi': [9, 1, 0.9], 'Holy Cross': [8, 2, 0.8], 'New Mexico St': [7, 3, 0.7], 'Wright St': [9, 1, 0.9], 'Long Beach St': [9, 1, 0.9], 'Belmont': [9, 1, 0.9], 'Albany': [8, 2, 0.8], 'North Texas': [7, 3, 0.7], 'Central Connecticut St': [9, 1, 0.9], 'Weber St': [8, 2, 0.8], 'Niagara': [10, 0, 1.0], 'Eastern Kentucky': [8, 2, 0.8], 'Florida A&M': [8, 2, 0.8], 'Jackson St': [7, 3, 0.7]}



2008    1
2008    2
2008    3
2008    4
2008    5
2008    6
2008    7
2008    8
2008    9
2008    10
2008    11
2008    12
2008    13
2008    14
2008    15
2008    16
2008    17
2008    18
2008    19
2008    20
2008    21
2008    22
2008    23
2008    24
2008    25
2008    26
2008    27
2008    28
2008    29
2008    30
2008    31
2008    32
2008    33
2008    34
2008    35
2008    36
2008    37
2008    38
2008    39
2008    40
2008    41
2008    42
2008    43
2008    44
2008    45
2008    46
2008    47
2008    48
2008    49
2008    50
2008    51
2008    52
2008    53
2008    54
2008    55
2008    56
2008    57
2008    58
2008    59
2008    60
2008    61
2008    62
2008    63
2008    64
2008    65
Year: 2008
{'Kansas': [8, 2, 0.8], 'UCLA': [10, 0, 1.0], 'Memphis': [9, 1, 0.9], 'North Carolina': [10, 0, 1.0], 'Duke': [6, 4, 0.6], 'Wisconsin': [10, 0, 1.0], 'Georgetown': [8, 2, 0.8], 'Texas': [8, 2, 0.8], 'Stanford': [6, 4, 0.6], 'Washington St': [7, 3, 0.7], 'Louisville': [8, 2, 0.8], 'Clemson': [7, 3, 0.7], 'Xavier': [8, 2, 0.8], 'Drake': [7, 3, 0.7], 'Tennessee': [8, 2, 0.8], 'Marquette': [7, 3, 0.7], 'Michigan St': [5, 5, 0.5], 'Davidson': [10, 0, 1.0], 'Arizona': [4, 6, 0.4], 'West Virginia': [7, 3, 0.7], 'USC': [6, 4, 0.6], 'Texas A&M': [4, 6, 0.4], 'Pittsburgh': [7, 3, 0.7], 'Indiana': [6, 4, 0.6], 'Gonzaga': [8, 2, 0.8], 'Butler': [9, 1, 0.9], 'Notre Dame': [7, 3, 0.7], 'Connecticut': [7, 3, 0.7], 'Kansas St': [4, 6, 0.4], 'Purdue': [7, 3, 0.7], 'Oregon': [5, 5, 0.5], 'BYU': [8, 2, 0.8], 'Mississippi St': [7, 3, 0.7], 'St Marys': [7, 3, 0.7], 'Baylor': [4, 6, 0.4], 'Oklahoma': [7, 3, 0.7], 'Arkansas': [5, 5, 0.5], 'St Josephs': [5, 5, 0.5], 'Miami': [7, 3, 0.7], 'Western Kentucky': [9, 1, 0.9], 'Kent St': [9, 1, 0.9], 'UNLV': [8, 2, 0.8], 'Vanderbilt': [7, 3, 0.7], 'Villanova': [6, 4, 0.6], 'South Alabama': [8, 2, 0.8], 'Temple': [8, 2, 0.8], 'Oral Roberts': [7, 3, 0.7], 'George Mason': [6, 4, 0.6], 'Kentucky': [7, 3, 0.7], 'Cal St Fullerton': [9, 1, 0.9], 'Georgia': [5, 5, 0.5], 'Winthrop': [8, 2, 0.8], 'Siena': [8, 2, 0.8], 'Portland St': [9, 1, 0.9], 'Cornell': [10, 0, 1.0], 'San Diego': [8, 2, 0.8], 'Boise St': [8, 2, 0.8], 'UMBC': [9, 1, 0.9], 'Belmont': [10, 0, 1.0], 'American': [9, 1, 0.9], 'Austin Peay': [9, 1, 0.9], 'Mount St Marys': [8, 2, 0.8], 'Texas Arlington': [5, 5, 0.5], 'Coppin St': [9, 1, 0.9], 'Mississippi Valley St': [9, 1, 0.9]}



2009    1
2009    2
2009    3
2009    4
2009    5
2009    6
2009    7
2009    8
2009    9
2009    10
2009    11
2009    12
2009    13
2009    14
2009    15
2009    16
2009    17
2009    18
2009    19
2009    20
2009    21
2009    22
2009    23
2009    24
2009    25
2009    26
2009    27
2009    28
2009    29
2009    30
2009    31
2009    32
2009    33
2009    34
2009    35
2009    36
2009    37
2009    38
2009    39
2009    40
2009    41
2009    42
2009    43
2009    44
2009    45
2009    46
2009    47
2009    48
2009    49
2009    50
2009    51
2009    52
2009    53
2009    54
2009    55
2009    56
2009    57
2009    58
2009    59
2009    60
2009    61
2009    62
2009    63
2009    64
2009    65
Year: 2009
{'Pittsburgh': [8, 2, 0.8], 'Memphis': [10, 0, 1.0], 'North Carolina': [8, 2, 0.8], 'Connecticut': [7, 3, 0.7], 'Gonzaga': [9, 1, 0.9], 'Louisville': [10, 0, 1.0], 'Duke': [8, 2, 0.8], 'UCLA': [6, 4, 0.6], 'West Virginia': [7, 3, 0.7], 'Missouri': [8, 2, 0.8], 'Arizona St': [6, 4, 0.6], 'Oklahoma': [6, 4, 0.6], 'Kansas': [7, 3, 0.7], 'Michigan St': [8, 2, 0.8], 'Purdue': [7, 3, 0.7], 'Washington': [8, 2, 0.8], 'Villanova': [7, 3, 0.7], 'Syracuse': [8, 2, 0.8], 'BYU': [8, 2, 0.8], 'Marquette': [4, 6, 0.4], 'Wake Forest': [7, 3, 0.7], 'Clemson': [4, 6, 0.4], 'Illinois': [4, 6, 0.4], 'Xavier': [5, 5, 0.5], 'Utah': [8, 2, 0.8], 'Texas': [6, 4, 0.6], 'California': [6, 4, 0.6], 'Wisconsin': [7, 3, 0.7], 'Oklahoma St': [8, 2, 0.8], 'USC': [6, 4, 0.6], 'Tennessee': [6, 4, 0.6], 'Ohio St': [5, 5, 0.5], 'Butler': [7, 3, 0.7], 'Arizona': [5, 5, 0.5], 'Florida St': [6, 4, 0.6], 'Minnesota': [4, 6, 0.4], 'Utah St': [7, 3, 0.7], 'LSU': [7, 3, 0.7], 'Michigan': [5, 5, 0.5], 'Texas A&M': [6, 4, 0.6], 'Temple': [8, 2, 0.8], 'Maryland': [5, 5, 0.5], 'VCU': [8, 2, 0.8], 'North Dakota St': [9, 1, 0.9], 'Boston College': [5, 5, 0.5], 'Mississippi St': [7, 3, 0.7], 'Cleveland St': [8, 2, 0.8], 'Siena': [8, 2, 0.8], 'Northern Iowa': [6, 4, 0.6], 'Dayton': [5, 5, 0.5], 'Western Kentucky': [9, 1, 0.9], 'Akron': [7, 3, 0.7], 'Stephen F Austin': [9, 1, 0.9], 'Cornell': [7, 3, 0.7], 'Cal St Northridge': [7, 3, 0.7], 'East Tennessee St': [6, 4, 0.6], 'Portland St': [8, 2, 0.8], 'American': [10, 0, 1.0], 'Robert Morris': [8, 2, 0.8], 'Morgan St': [9, 1, 0.9], 'Morehead St': [6, 4, 0.6], 'Radford': [9, 1, 0.9], 'Binghamton': [10, 0, 1.0], 'Alabama St': [9, 1, 0.9], 'Chattanooga': [7, 3, 0.7]}

2010    1
2010    2
2010    3
2010    4
2010    5
2010    6
2010    7
2010    8
2010    9
2010    10
2010    11
2010    12
2010    13
2010    14
2010    15
2010    16
2010    17
2010    18
2010    19
2010    20
2010    21
2010    22
2010    23
2010    24
2010    25
2010    26
2010    27
2010    28
2010    29
2010    30
2010    31
2010    32
2010    33
2010    34
2010    35
2010    36
2010    37
2010    38
2010    39
2010    40
2010    41
2010    42
2010    43
2010    44
2010    45
2010    46
2010    47
2010    48
2010    49
2010    50
2010    51
2010    52
2010    53
2010    54
2010    55
2010    56
2010    57
2010    58
2010    59
2010    60
2010    61
2010    62
2010    63
2010    64
2010    65
Year: 2010
{'Kansas': [9, 1, 0.9], 'Duke': [9, 1, 0.9], 'Syracuse': [7, 3, 0.7], 'West Virginia': [8, 2, 0.8], 'Wisconsin': [7, 3, 0.7], 'Ohio St': [9, 1, 0.9], 'Kansas St': [7, 3, 0.7], 'Kentucky': [9, 1, 0.9], 'BYU': [7, 3, 0.7], 'Georgetown': [5, 5, 0.5], 'Baylor': [8, 2, 0.8], 'Villanova': [4, 6, 0.4], 'Maryland': [8, 2, 0.8], 'Purdue': [8, 2, 0.8], 'California': [8, 2, 0.8], 'Utah St': [9, 1, 0.9], 'Temple': [10, 0, 1.0], 'Texas': [5, 5, 0.5], 'Marquette': [7, 3, 0.7], 'Michigan St': [5, 5, 0.5], 'Texas A&M': [7, 3, 0.7], 'Butler': [10, 0, 1.0], 'Xavier': [8, 2, 0.8], 'Missouri': [6, 4, 0.6], 'Clemson': [6, 4, 0.6], 'St Marys': [8, 2, 0.8], 'Pittsburgh': [8, 2, 0.8], 'Minnesota': [7, 3, 0.7], 'Florida St': [6, 4, 0.6], 'Notre Dame': [6, 4, 0.6], 'Northern Iowa': [8, 2, 0.8], 'Georgia Tech': [5, 5, 0.5], 'Washington': [8, 2, 0.8], 'Louisville': [6, 4, 0.6], 'Old Dominion': [8, 2, 0.8], 'UTEP': [9, 1, 0.9], 'Vanderbilt': [7, 3, 0.7], 'Tennessee': [7, 3, 0.7], 'New Mexico': [9, 1, 0.9], 'San Diego St': [9, 1, 0.9], 'UNLV': [6, 4, 0.6], 'Gonzaga': [8, 2, 0.8], 'Oklahoma St': [6, 4, 0.6], 'Richmond': [8, 2, 0.8], 'Florida': [4, 6, 0.4], 'Wake Forest': [5, 5, 0.5], 'Murray St': [9, 1, 0.9], 'Siena': [8, 2, 0.8], 'Cornell': [9, 1, 0.9], 'Wofford': [10, 0, 1.0], 'Houston': [6, 4, 0.6], 'Montana': [8, 2, 0.8], 'Ohio': [7, 3, 0.7], 'Sam Houston St': [8, 2, 0.8], 'New Mexico St': [7, 3, 0.7], 'Oakland': [10, 0, 1.0], 'Vermont': [9, 1, 0.9], 'East Tennessee St': [8, 2, 0.8], 'Santa Barbara': [9, 1, 0.9], 'Morgan St': [8, 2, 0.8], 'North Texas': [10, 0, 1.0], 'Lehigh': [8, 2, 0.8], 'Robert Morris': [7, 3, 0.7], 'Winthrop': [7, 3, 0.7], 'Arkansas Pine Bluff': [9, 1, 0.9]}



2011    1
2011    2
2011    3
2011    4
2011    5
2011    6
2011    7
2011    8
2011    9
2011    10
2011    11
2011    12
2011    13
2011    14
2011    15
2011    16
2011    17
2011    18
2011    19
2011    20
2011    21
2011    22
2011    23
2011    24
2011    25
2011    26
2011    27
2011    28
2011    29
2011    30
2011    31
2011    32
2011    33
2011    34
2011    35
2011    36
2011    37
2011    38
2011    39
2011    40
2011    41
2011    42
2011    43
2011    44
2011    45
2011    46
2011    47
2011    48
2011    49
2011    50
2011    51
2011    52
2011    53
2011    54
2011    55
2011    56
2011    57
2011    58
2011    59
2011    60
2011    61
2011    62
2011    63
2011    64
2011    65
2011    66
2011    67
2011    68
Year: 2011
{'Ohio St': [8, 2, 0.8], 'Duke': [8, 2, 0.8], 'Kansas': [9, 1, 0.9], 'Pittsburgh': [7, 3, 0.7], 'Texas': [6, 4, 0.6], 'Purdue': [7, 3, 0.7], 'San Diego St': [9, 1, 0.9], 'Wisconsin': [7, 3, 0.7], 'Kentucky': [8, 2, 0.8], 'Notre Dame': [8, 2, 0.8], 'BYU': [8, 2, 0.8], 'Louisville': [7, 3, 0.7], 'Syracuse': [7, 3, 0.7], 'Washington': [7, 3, 0.7], 'Connecticut': [6, 4, 0.6], 'North Carolina': [9, 1, 0.9], 'Utah St': [9, 1, 0.9], 'West Virginia': [5, 5, 0.5], 'Cincinnati': [7, 3, 0.7], 'Illinois': [7, 3, 0.7], 'Florida': [8, 2, 0.8], 'Georgetown': [5, 5, 0.5], 'Belmont': [10, 0, 1.0], 'Arizona': [7, 3, 0.7], 'UNLV': [7, 3, 0.7], 'George Mason': [9, 1, 0.9], 'Villanova': [3, 7, 0.3], 'Marquette': [5, 5, 0.5], 'Clemson': [6, 4, 0.6], 'Kansas St': [8, 2, 0.8], 'Vanderbilt': [6, 4, 0.6], 'Temple': [8, 2, 0.8], 'St Johns': [8, 2, 0.8], 'Missouri': [5, 5, 0.5], 'Xavier': [9, 1, 0.9], 'Gonzaga': [9, 1, 0.9], 'Richmond': [9, 1, 0.9], 'Michigan': [7, 3, 0.7], 'Texas A&M': [7, 3, 0.7], 'Butler': [9, 1, 0.9], 'Florida St': [6, 4, 0.6], 'Michigan St': [6, 4, 0.6], 'Penn St': [7, 3, 0.7], 'USC': [7, 3, 0.7], 'Old Dominion': [9, 1, 0.9], 'UCLA': [7, 3, 0.7], 'Tennessee': [4, 6, 0.4], 'Oakland': [9, 1, 0.9], 'UAB': [7, 3, 0.7], 'Georgia': [5, 5, 0.5], 'Princeton': [8, 2, 0.8], 'VCU': [5, 5, 0.5], 'Bucknell': [10, 0, 1.0], 'Wofford': [9, 1, 0.9], 'Memphis': [7, 3, 0.7], 'Morehead St': [9, 1, 0.9], 'Long Island Brooklyn': [10, 0, 1.0], 'Indiana St': [8, 2, 0.8], 'Northern Colorado': [9, 1, 0.9], 'Santa Barbara': [6, 4, 0.6], 'Akron': [8, 2, 0.8], 'St Peters': [6, 4, 0.6], 'UNC Asheville': [7, 3, 0.7], 'Boston University': [10, 0, 1.0], 'Hampton': [7, 3, 0.7], 'Arkansas Little Rock': [6, 4, 0.6], 'Texas San Antonio': [7, 3, 0.7], 'Alabama St': [9, 1, 0.9]}



2012    1
2012    2
2012    3
2012    4
2012    5
2012    6
2012    7
2012    8
2012    9
2012    10
2012    11
2012    12
2012    13
2012    14
2012    15
2012    16
2012    17
2012    18
2012    19
2012    20
2012    21
2012    22
2012    23
2012    24
2012    25
2012    26
2012    27
2012    28
2012    29
2012    30
2012    31
2012    32
2012    33
2012    34
2012    35
2012    36
2012    37
2012    38
2012    39
2012    40
2012    41
2012    42
2012    43
2012    44
2012    45
2012    46
2012    47
2012    48
2012    49
2012    50
2012    51
2012    52
2012    53
2012    54
2012    55
2012    56
2012    57
2012    58
2012    59
2012    60
2012    61
2012    62
2012    63
2012    64
2012    65
2012    66
2012    67
2012    68
Year: 2012
{'Kentucky': [9, 1, 0.9], 'Ohio St': [6, 4, 0.6], 'Michigan St': [8, 2, 0.8], 'Kansas': [9, 1, 0.9], 'Missouri': [8, 2, 0.8], 'North Carolina': [9, 1, 0.9], 'Syracuse': [9, 1, 0.9], 'Wisconsin': [6, 4, 0.6], 'Wichita St': [9, 1, 0.9], 'Memphis': [9, 1, 0.9], 'Indiana': [8, 2, 0.8], 'Baylor': [6, 4, 0.6], 'Duke': [8, 2, 0.8], 'St Louis': [8, 2, 0.8], 'Georgetown': [6, 4, 0.6], 'Vanderbilt': [7, 3, 0.7], 'Florida': [4, 6, 0.4], 'New Mexico': [8, 2, 0.8], 'Marquette': [7, 3, 0.7], 'Louisville': [6, 4, 0.6], 'Kansas St': [6, 4, 0.6], 'Michigan': [7, 3, 0.7], 'Florida St': [8, 2, 0.8], 'Belmont': [10, 0, 1.0], 'Virginia': [4, 6, 0.4], 'Creighton': [7, 3, 0.7], 'Gonzaga': [8, 2, 0.8], 'Alabama': [6, 4, 0.6], 'California': [7, 3, 0.7], 'Texas': [6, 4, 0.6], 'Iowa St': [6, 4, 0.6], 'UNLV': [5, 5, 0.5], 'Purdue': [6, 4, 0.6], 'Long Beach St': [8, 2, 0.8], 'Temple': [8, 2, 0.8], 'St Marys': [7, 3, 0.7], 'Cincinnati': [7, 3, 0.7], 'Murray St': [9, 1, 0.9], 'Connecticut': [5, 5, 0.5], 'Harvard': [8, 2, 0.8], 'West Virginia': [4, 6, 0.4], 'Notre Dame': [7, 3, 0.7], 'NC State': [5, 5, 0.5], 'BYU': [7, 3, 0.7], 'VCU': [9, 1, 0.9], 'San Diego St': [6, 4, 0.6], 'Iona': [8, 2, 0.8], 'South Dakota St': [9, 1, 0.9], 'New Mexico St': [8, 2, 0.8], 'Xavier': [6, 4, 0.6], 'St Bonaventure': [8, 2, 0.8], 'South Florida': [7, 3, 0.7], 'Southern Mississippi': [5, 5, 0.5], 'Ohio': [8, 2, 0.8], 'Davidson': [8, 2, 0.8], 'Colorado St': [6, 4, 0.6], 'Lehigh': [9, 1, 0.9], 'Colorado': [7, 3, 0.7], 'Montana': [10, 0, 1.0], 'Lamar': [7, 3, 0.7], 'Detroit': [9, 1, 0.9], 'UNC Asheville': [8, 2, 0.8], 'Vermont': [9, 1, 0.9], 'Loyola Maryland': [7, 3, 0.7], 'Long Island Brooklyn': [9, 1, 0.9], 'Norfolk St': [9, 1, 0.9], 'Western Kentucky': [7, 3, 0.7], 'Mississippi Valley St': [9, 1, 0.9]}



2013    1
2013    2
2013    3
2013    4
2013    5
2013    6
2013    7
2013    8
2013    9
2013    10
2013    11
2013    12
2013    13
2013    14
2013    15
2013    16
2013    17
2013    18
2013    19
2013    20
2013    21
2013    22
2013    23
2013    24
2013    25
2013    26
2013    27
2013    28
2013    29
2013    30
2013    31
2013    32
2013    33
2013    34
2013    35
2013    36
2013    37
2013    38
2013    39
2013    40
2013    41
2013    42
2013    43
2013    44
2013    45
2013    46
2013    47
2013    48
2013    49
2013    50
2013    51
2013    52
2013    53
2013    54
2013    55
2013    56
2013    57
2013    58
2013    59
2013    60
2013    61
2013    62
2013    63
2013    64
2013    65
2013    66
2013    67
2013    68
Year: 2013
{'Florida': [6, 4, 0.6], 'Louisville': [10, 0, 1.0], 'Indiana': [7, 3, 0.7], 'Gonzaga': [10, 0, 1.0], 'Duke': [7, 3, 0.7], 'Kansas': [9, 1, 0.9], 'Ohio St': [9, 1, 0.9], 'Pittsburgh': [7, 3, 0.7], 'Michigan': [5, 5, 0.5], 'Michigan St': [6, 4, 0.6], 'Wisconsin': [6, 4, 0.6], 'Syracuse': [5, 5, 0.5], 'Miami': [7, 3, 0.7], 'Creighton': [7, 3, 0.7], 'Georgetown': [8, 2, 0.8], 'New Mexico': [9, 1, 0.9], 'Arizona': [5, 5, 0.5], 'St Louis': [9, 1, 0.9], 'Colorado St': [6, 4, 0.6], 'Oklahoma St': [7, 3, 0.7], 'VCU': [7, 3, 0.7], 'Missouri': [6, 4, 0.6], 'Minnesota': [3, 7, 0.3], 'St Marys': [8, 2, 0.8], 'Marquette': [7, 3, 0.7], 'San Diego St': [5, 5, 0.5], 'Kansas St': [8, 2, 0.8], 'Notre Dame': [6, 4, 0.6], 'NC State': [7, 3, 0.7], 'Wichita St': [7, 3, 0.7], 'UNLV': [7, 3, 0.7], 'North Carolina': [8, 2, 0.8], 'Memphis': [9, 1, 0.9], 'Ole Miss': [8, 2, 0.8], 'Iowa St': [6, 4, 0.6], 'Belmont': [8, 2, 0.8], 'Cincinnati': [4, 6, 0.4], 'Middle Tennessee St': [9, 1, 0.9], 'UCLA': [7, 3, 0.7], 'Illinois': [7, 3, 0.7], 'Boise St': [6, 4, 0.6], 'Oregon': [7, 3, 0.7], 'Butler': [6, 4, 0.6], 'Colorado': [6, 4, 0.6], 'Oklahoma': [6, 4, 0.6], 'Akron': [8, 2, 0.8], 'Villanova': [6, 4, 0.6], 'Bucknell': [9, 1, 0.9], 'La Salle': [7, 3, 0.7], 'California': [7, 3, 0.7], 'Temple': [8, 2, 0.8], 'Valparaiso': [9, 1, 0.9], 'Davidson': [10, 0, 1.0], 'New Mexico St': [8, 2, 0.8], 'Iona': [6, 4, 0.6], 'South Dakota St': [7, 3, 0.7], 'Harvard': [7, 3, 0.7], 'Pacific': [8, 2, 0.8], 'Florida Gulf Coast': [8, 2, 0.8], 'Northwestern St': [8, 2, 0.8], 'Montana': [8, 2, 0.8], 'Albany': [7, 3, 0.7], 'Southern': [8, 2, 0.8], 'Western Kentucky': [7, 3, 0.7], 'Long Island Brooklyn': [8, 2, 0.8], 'James Madison': [7, 3, 0.7], 'North Carolina A&T': [6, 4, 0.6], 'Liberty': [7, 3, 0.7]}

2014    1
2014    2
2014    3
2014    4
2014    5
2014    6
2014    7
2014    8
2014    9
2014    10
2014    11
2014    12
2014    13
2014    14
2014    15
2014    16
2014    17
2014    18
2014    19
2014    20
2014    21
2014    22
2014    23
2014    24
2014    25
2014    26
2014    27
2014    28
2014    29
2014    30
2014    31
2014    32
2014    33
2014    34
2014    35
2014    36
2014    37
2014    38
2014    39
2014    40
2014    41
2014    42
2014    43
2014    44
2014    45
2014    46
2014    47
2014    48
2014    49
2014    50
2014    51
2014    52
2014    53
2014    54
2014    55
2014    56
2014    57
2014    58
2014    59
2014    60
2014    61
2014    62
2014    63
2014    64
2014    65
2014    66
2014    67
2014    68
Year: 2014
{'Louisville': [9, 1, 0.9], 'Arizona': [7, 3, 0.7], 'Florida': [10, 0, 1.0], 'Virginia': [9, 1, 0.9], 'Kansas': [6, 4, 0.6], 'Duke': [7, 3, 0.7], 'Villanova': [8, 2, 0.8], 'Wichita St': [10, 0, 1.0], 'Creighton': [7, 3, 0.7], 'Wisconsin': [8, 2, 0.8], 'Michigan St': [6, 4, 0.6], 'Michigan': [8, 2, 0.8], 'UCLA': [7, 3, 0.7], 'Tennessee': [6, 4, 0.6], 'Ohio St': [6, 4, 0.6], 'Oklahoma St': [5, 5, 0.5], 'Pittsburgh': [5, 5, 0.5], 'Syracuse': [5, 5, 0.5], 'Kentucky': [5, 5, 0.5], 'Iowa': [3, 7, 0.3], 'Iowa St': [8, 2, 0.8], 'Gonzaga': [7, 3, 0.7], 'VCU': [7, 3, 0.7], 'San Diego St': [8, 2, 0.8], 'Connecticut': [7, 3, 0.7], 'Cincinnati': [6, 4, 0.6], 'Oregon': [8, 2, 0.8], 'Oklahoma': [6, 4, 0.6], 'North Carolina': [8, 2, 0.8], 'Baylor': [8, 2, 0.8], 'New Mexico': [9, 1, 0.9], 'Harvard': [9, 1, 0.9], 'Stanford': [6, 4, 0.6], 'St Louis': [6, 4, 0.6], 'Arizona St': [5, 5, 0.5], 'Xavier': [5, 5, 0.5], 'Texas': [5, 5, 0.5], 'Memphis': [6, 4, 0.6], 'BYU': [8, 2, 0.8], 'Providence': [7, 3, 0.7], 'Kansas St': [5, 5, 0.5], 'George Washington': [6, 4, 0.6], 'Massachusetts': [6, 4, 0.6], 'Nebraska': [8, 2, 0.8], 'St Josephs': [8, 2, 0.8], 'Dayton': [8, 2, 0.8], 'North Dakota St': [9, 1, 0.9], 'Colorado': [5, 5, 0.5], 'Stephen F Austin': [10, 0, 1.0], 'New Mexico St': [9, 1, 0.9], 'NC State': [5, 5, 0.5], 'Manhattan': [9, 1, 0.9], 'Tulsa': [10, 0, 1.0], 'North Carolina Central': [10, 0, 1.0], 'Mercer': [8, 2, 0.8], 'American': [6, 4, 0.6], 'Delaware': [8, 2, 0.8], 'Louisiana Lafayette': [6, 4, 0.6], 'Western Michigan': [9, 1, 0.9], 'Eastern Kentucky': [8, 2, 0.8], 'Wisconsin Milwaukee': [6, 4, 0.6], 'Weber St': [6, 4, 0.6], 'Cal Poly': [5, 5, 0.5], 'Albany': [7, 3, 0.7], 'Wofford': [8, 2, 0.8], 'Mount St Marys': [6, 4, 0.6], 'Coastal Carolina': [8, 2, 0.8], 'Texas Southern': [9, 1, 0.9]}



2015    1
2015    2
2015    3
2015    4
2015    5
2015    6
2015    7
2015    8
2015    9
2015    10
2015    11
2015    12
2015    13
2015    14
2015    15
2015    16
2015    17
2015    18
2015    19
2015    20
2015    21
2015    22
2015    23
2015    24
2015    25
2015    26
2015    27
2015    28
2015    29
2015    30
2015    31
2015    32
2015    33
2015    34
2015    35
2015    36
2015    37
2015    38
2015    39
2015    40
2015    41
2015    42
2015    43
2015    44
2015    45
2015    46
2015    47
2015    48
2015    49
2015    50
2015    51
2015    52
2015    53
2015    54
2015    55
2015    56
2015    57
2015    58
2015    59
2015    60
2015    61
2015    62
2015    63
2015    64
2015    65
2015    66
2015    67
2015    68
Year: 2015
{'Kentucky': [10, 0, 1.0], 'Wisconsin': [9, 1, 0.9], 'Arizona': [10, 0, 1.0], 'Villanova': [10, 0, 1.0], 'Virginia': [8, 2, 0.8], 'Duke': [9, 1, 0.9], 'Gonzaga': [9, 1, 0.9], 'Utah': [6, 4, 0.6], 'Oklahoma': [7, 3, 0.7], 'Notre Dame': [8, 2, 0.8], 'North Carolina': [6, 4, 0.6], 'Kansas': [6, 4, 0.6], 'Baylor': [6, 4, 0.6], 'Iowa St': [8, 2, 0.8], 'Wichita St': [9, 1, 0.9], 'Ohio St': [6, 4, 0.6], 'Northern Iowa': [9, 1, 0.9], 'Michigan St': [7, 3, 0.7], 'Louisville': [5, 5, 0.5], 'Texas': [5, 5, 0.5], 'Butler': [6, 4, 0.6], 'Georgetown': [6, 4, 0.6], 'West Virginia': [5, 5, 0.5], 'Xavier': [6, 4, 0.6], 'Iowa': [7, 3, 0.7], 'SMU': [9, 1, 0.9], 'BYU': [8, 2, 0.8], 'Providence': [5, 5, 0.5], 'Arkansas': [7, 3, 0.7], 'Davidson': [9, 1, 0.9], 'VCU': [7, 3, 0.7], 'San Diego St': [8, 2, 0.8], 'Maryland': [8, 2, 0.8], 'Oklahoma St': [4, 6, 0.4], 'Georgia': [6, 4, 0.6], 'NC State': [6, 4, 0.6], 'Ole Miss': [5, 5, 0.5], 'St Johns': [7, 3, 0.7], 'Cincinnati': [6, 4, 0.6], 'UCLA': [6, 4, 0.6], 'Stephen F Austin': [9, 1, 0.9], 'Boise St': [8, 2, 0.8], 'Purdue': [6, 4, 0.6], 'LSU': [6, 4, 0.6], 'Dayton': [7, 3, 0.7], 'Indiana': [4, 6, 0.4], 'Oregon': [8, 2, 0.8], 'Buffalo': [8, 2, 0.8], 'Valparaiso': [9, 1, 0.9], 'Georgia St': [9, 1, 0.9], 'Harvard': [8, 2, 0.8], 'New Mexico St': [10, 0, 1.0], 'Cal Irvine': [7, 3, 0.7], 'Wyoming': [6, 4, 0.6], 'Wofford': [9, 1, 0.9], 'Northeastern': [7, 3, 0.7], 'Albany': [9, 1, 0.9], 'Eastern Washington': [7, 3, 0.7], 'North Florida': [9, 1, 0.9], 'UAB': [6, 4, 0.6], 'Coastal Carolina': [8, 2, 0.8], 'Belmont': [7, 3, 0.7], 'Manhattan': [7, 3, 0.7], 'North Dakota St': [8, 2, 0.8], 'Robert Morris': [8, 2, 0.8], 'Louisiana Lafayette': [6, 4, 0.6], 'Texas Southern': [10, 0, 1.0], 'Hampton': [7, 3, 0.7]}



2016    1
2016    2
2016    3
2016    4
2016    5
2016    6
2016    7
2016    8
2016    9
2016    10
2016    11
2016    12
2016    13
2016    14
2016    15
2016    16
2016    17
2016    18
2016    19
2016    20
2016    21
2016    22
2016    23
2016    24
2016    25
2016    26
2016    27
2016    28
2016    29
2016    30
2016    31
2016    32
2016    33
2016    34
2016    35
2016    36
2016    37
2016    38
2016    39
2016    40
2016    41
2016    42
2016    43
2016    44
2016    45
2016    46
2016    47
2016    48
2016    49
2016    50
2016    51
2016    52
2016    53
2016    54
2016    55
2016    56
2016    57
2016    58
2016    59
2016    60
2016    61
2016    62
2016    63
2016    64
2016    65
2016    66
2016    67
2016    68
Year: 2016
{'Kansas': [10, 0, 1.0], 'Michigan St': [9, 1, 0.9], 'Virginia': [7, 3, 0.7], 'North Carolina': [8, 2, 0.8], 'Villanova': [8, 2, 0.8], 'West Virginia': [7, 3, 0.7], 'Kentucky': [8, 2, 0.8], 'Oklahoma': [6, 4, 0.6], 'Purdue': [7, 3, 0.7], 'Miami': [7, 3, 0.7], 'Indiana': [7, 3, 0.7], 'Oregon': [8, 2, 0.8], 'Duke': [6, 4, 0.6], 'Arizona': [7, 3, 0.7], 'Texas A&M': [8, 2, 0.8], 'Xavier': [7, 3, 0.7], 'Iowa': [4, 6, 0.4], 'Wichita St': [7, 3, 0.7], 'Iowa St': [5, 5, 0.5], 'Maryland': [5, 5, 0.5], 'Vanderbilt': [6, 4, 0.6], 'Baylor': [5, 5, 0.5], 'California': [8, 2, 0.8], 'Gonzaga': [8, 2, 0.8], 'Connecticut': [7, 3, 0.7], 'Utah': [9, 1, 0.9], 'Seton Hall': [8, 2, 0.8], 'Cincinnati': [6, 4, 0.6], 'Texas': [5, 5, 0.5], 'Wisconsin': [7, 3, 0.7], 'VCU': [7, 3, 0.7], 'Pittsburgh': [4, 6, 0.4], 'Notre Dame': [6, 4, 0.6], 'Syracuse': [5, 5, 0.5], 'Butler': [7, 3, 0.7], 'USC': [3, 7, 0.3], 'Texas Tech': [6, 4, 0.6], 'St Josephs': [7, 3, 0.7], 'Michigan': [5, 5, 0.5], 'Stephen F Austin': [10, 0, 1.0], 'Yale': [9, 1, 0.9], 'Providence': [5, 5, 0.5], 'Colorado': [5, 5, 0.5], 'Dayton': [6, 4, 0.6], 'Arkansas Little Rock': [8, 2, 0.8], 'Oregon St': [6, 4, 0.6], 'Tulsa': [6, 4, 0.6], 'Hawaii': [8, 2, 0.8], 'Northern Iowa': [9, 1, 0.9], 'South Dakota St': [8, 2, 0.8], 'UNC Wilmington': [8, 2, 0.8], 'Stony Brook': [8, 2, 0.8], 'Temple': [7, 3, 0.7], 'Iona': [9, 1, 0.9], 'Chattanooga': [8, 2, 0.8], 'Fresno St': [9, 1, 0.9], 'Cal St Bakersfield': [9, 1, 0.9], 'UNC Asheville': [7, 3, 0.7], 'Wisconsin Green Bay': [8, 2, 0.8], 'Middle Tennessee St': [7, 3, 0.7], 'Weber St': [9, 1, 0.9], 'Buffalo': [6, 4, 0.6], 'Florida Gulf Coast': [7, 3, 0.7], 'Austin Peay': [8, 2, 0.8], 'Southern': [6, 4, 0.6], 'Hampton': [8, 2, 0.8], 'Fairleigh Dickinson': [8, 2, 0.8], 'Holy Cross': [5, 5, 0.5]}



2017    1
2017    2
2017    3
2017    4
2017    5
2017    6
2017    7
2017    8
2017    9
2017    10
2017    11
2017    12
2017    13
2017    14
2017    15
2017    16
2017    17
2017    18
2017    19
2017    20
2017    21
2017    22
2017    23
2017    24
2017    25
2017    26
2017    27
2017    28
2017    29
2017    30
2017    31
2017    32
2017    33
2017    34
2017    35
2017    36
2017    37
2017    38
2017    39
2017    40
2017    41
2017    42
2017    43
2017    44
2017    45
2017    46
2017    47
2017    48
2017    49
2017    50
2017    51
2017    52
2017    53
2017    54
2017    55

2017    56
2017    57
2017    58
2017    59
2017    60
2017    61
2017    62
2017    63
2017    64
2017    65
2017    66
2017    67
2017    68
Year: 2017
{'Gonzaga': [9, 1, 0.9], 'Villanova': [9, 1, 0.9], 'North Carolina': [7, 3, 0.7], 'Kentucky': [10, 0, 1.0], 'West Virginia': [7, 3, 0.7], 'Louisville': [6, 4, 0.6], 'Virginia': [5, 5, 0.5], 'Wichita St': [10, 0, 1.0], 'Florida': [7, 3, 0.7], 'Kansas': [8, 2, 0.8], 'SMU': [10, 0, 1.0], 'Duke': [7, 3, 0.7], 'Baylor': [5, 5, 0.5], 'St Marys': [8, 2, 0.8], 'Purdue': [8, 2, 0.8], 'Oregon': [8, 2, 0.8], 'Iowa St': [9, 1, 0.9], 'UCLA': [9, 1, 0.9], 'Arizona': [9, 1, 0.9], 'Florida St': [6, 4, 0.6], 'Michigan': [8, 2, 0.8], 'Cincinnati': [7, 3, 0.7], 'Wisconsin': [4, 6, 0.4], 'Oklahoma St': [6, 4, 0.6], 'Notre Dame': [8, 2, 0.8], 'Butler': [5, 5, 0.5], 'Creighton': [5, 5, 0.5], 'Marquette': [5, 5, 0.5], 'Kansas St': [4, 6, 0.4], 'Wake Forest': [6, 4, 0.6], 'South Carolina': [4, 6, 0.4], 'Miami': [6, 4, 0.6], 'Minnesota': [8, 2, 0.8], 'Vanderbilt': [7, 3, 0.7], 'Dayton': [8, 2, 0.8], 'Rhode Island': [8, 2, 0.8], 'Arkansas': [8, 2, 0.8], 'Northwestern': [5, 5, 0.5], 'Xavier': [3, 7, 0.3], 'Michigan St': [5, 5, 0.5], 'Virginia Tech': [6, 4, 0.6], 'Maryland': [4, 6, 0.4], 'Middle Tennessee St': [10, 0, 1.0], 'VCU': [7, 3, 0.7], 'Seton Hall': [7, 3, 0.7], 'Nevada': [9, 1, 0.9], 'Providence': [7, 3, 0.7], 'Princeton': [10, 0, 1.0], 'UNC Wilmington': [9, 1, 0.9], 'USC': [5, 5, 0.5], 'Vermont': [10, 0, 1.0], 'East Tennessee St': [9, 1, 0.9], 'Bucknell': [8, 2, 0.8], 'New Mexico St': [7, 3, 0.7], 'Florida Gulf Coast': [9, 1, 0.9], 'Winthrop': [9, 1, 0.9], 'Iona': [6, 4, 0.6], 'Troy': [8, 2, 0.8], 'Kent St': [9, 1, 0.9], 'Northern Kentucky': [9, 1, 0.9], 'North Carolina Central': [8, 2, 0.8], 'Jacksonville St': [7, 3, 0.7], 'North Dakota': [9, 1, 0.9], 'New Orleans': [8, 2, 0.8], 'South Dakota St': [8, 2, 0.8], 'Texas Southern': [9, 1, 0.9], 'Mount St Marys': [7, 3, 0.7], 'UC Davis': [7, 3, 0.7]}



2018    1
2018    2
2018    3
2018    4
2018    5
2018    6
2018    7
2018    8
2018    9
2018    10
2018    11
2018    12
2018    13
2018    14
2018    15
2018    16
2018    17
2018    18
2018    19
2018    20
2018    21
2018    22
2018    23
2018    24
2018    25
2018    26
2018    27
2018    28
2018    29
2018    30
2018    31
2018    32
2018    33
2018    34
2018    35
2018    36
2018    37
2018    38
2018    39
2018    40
2018    41
2018    42
2018    43
2018    44
2018    45
2018    46
2018    47
2018    48
2018    49
2018    50
2018    51
2018    52
2018    53
2018    54
2018    55
2018    56
2018    57
2018    58
2018    59
2018    60
2018    61
2018    62
2018    63
2018    64
2018    65
2018    66
2018    67
2018    68
Year: 2018
{'Virginia': [9, 1, 0.9], 'Villanova': [8, 2, 0.8], 'Duke': [7, 3, 0.7], 'Cincinnati': [8, 2, 0.8], 'Purdue': [6, 4, 0.6], 'Michigan St': [9, 1, 0.9], 'North Carolina': [7, 3, 0.7], 'Gonzaga': [10, 0, 1.0], 'Kansas': [8, 2, 0.8], 'Michigan': [9, 1, 0.9], 'Tennessee': [7, 3, 0.7], 'Texas Tech': [5, 5, 0.5], 'West Virginia': [6, 4, 0.6], 'Xavier': [8, 2, 0.8], 'Ohio St': [6, 4, 0.6], 'Auburn': [5, 5, 0.5], 'Houston': [8, 2, 0.8], 'Kentucky': [7, 3, 0.7], 'Clemson': [5, 5, 0.5], 'Wichita St': [8, 2, 0.8], 'Arizona': [8, 2, 0.8], 'TCU': [5, 5, 0.5], 'Florida': [5, 5, 0.5], 'Nevada': [7, 3, 0.7], 'Butler': [4, 6, 0.4], 'Seton Hall': [4, 6, 0.4], 'Creighton': [4, 6, 0.4], 'Texas A&M': [6, 4, 0.6], 'Virginia Tech': [5, 5, 0.5], 'Florida St': [4, 6, 0.4], 'Miami': [6, 4, 0.6], 'Arkansas': [7, 3, 0.7], 'Missouri': [6, 4, 0.6], 'Texas': [4, 6, 0.4], 'Loyola Chicago': [10, 0, 1.0], 'NC State': [6, 4, 0.6], 'Davidson': [8, 2, 0.8], 'Kansas St': [6, 4, 0.6], 'Arizona St': [4, 6, 0.4], 'Oklahoma': [2, 8, 0.2], 'UCLA': [6, 4, 0.6], 'Rhode Island': [6, 4, 0.6], 'San Diego St': [9, 1, 0.9], 'Alabama': [4, 6, 0.4], 'Syracuse': [5, 5, 0.5], 'New Mexico St': [8, 2, 0.8], 'Murray St': [10, 0, 1.0], 'Providence': [5, 5, 0.5], 'St Bonaventure': [9, 1, 0.9], 'Montana': [8, 2, 0.8], 'South Dakota St': [10, 0, 1.0], 'Buffalo': [8, 2, 0.8], 'UNC Greensboro': [9, 1, 0.9], 'Georgia St': [6, 4, 0.6], 'Bucknell': [9, 1, 0.9], 'Stephen F Austin': [9, 1, 0.9], 'Marshall': [8, 2, 0.8], 'College of Charleston': [9, 1, 0.9], 'Pennsylvania': [8, 2, 0.8], 'Iona': [6, 4, 0.6], 'Wright St': [8, 2, 0.8], 'Cal St Fullerton': [8, 2, 0.8], 'Lipscomb': [9, 1, 0.9], 'Radford': [7, 3, 0.7], 'UMBC': [8, 2, 0.8], 'Texas Southern': [8, 2, 0.8], 'Long Island Brooklyn': [7, 3, 0.7], 'North Carolina Central': [7, 3, 0.7]}

In [276]:
kp_full.to_csv("FullKenPom_pt.csv")

In [265]:
64*11

704