In [1]:
import xgboost as xgb
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
full_results = pd.read_csv('full_results.csv')
full_stats = pd.read_csv('FullKenPom_pt.csv')

print(full_results)
print(full_stats)

      Unnamed: 0  Year  Round  Region Number   Region Name  SeedA  ScoreA  \
0              0  2002      0              0    First Four     16      77
1              1  2002      1              1         South      1      84
2              2  2002      1              1         South      2      86
3              3  2002      1              1         South      3      71
4              4  2002      1              1         South      4      89
5              5  2002      1              1         South      5      75
6              6  2002      1              1         South      6      82
7              7  2002      1              1         South      7      61
8              8  2002      1              1         South      8      82
9              9  2002      1              2          West      1      90
10            10  2002      1              2          West      2      71
11            11  2002      1              2          West      3      86
12            12  2002      1              2          West      4      69
13            13  2002      1              2          West      5      80
14            14  2002      1              2          West      6      66
15            15  2002      1              2          West      7      70
16            16  2002      1              2          West      8      80
17            17  2002      1              3          East      1      85
18            18  2002      1              3          East      2      78
19            19  2002      1              3          East      3      85
20            20  2002      1              3          East      4      83
21            21  2002      1              3          East      5      69
22            22  2002      1              3          East      6      68
23            23  2002      1              3          East      7      69
24            24  2002      1              3          East      8      80
25            25  2002      1              4       Midwest      1      70
26            26  2002      1              4       Midwest      2      81
27            27  2002      1              4       Midwest      3      70
28            28  2002      1              4       Midwest      4      93
29            29  2002      1              4       Midwest      5      82
...          ...   ...    ...            ...           ...    ...     ...
1082        1082  2018      2              1         South      2      73
1083        1083  2018      2              1         South      3      62
1084        1084  2018      2              1         South      5      95
1085        1085  2018      2              2          West      1      70
1086        1086  2018      2              2          West      2      65
1087        1087  2018      2              2          West      3      64
1088        1088  2018      2              2          West      4      90
1089        1089  2018      2              3          East      1      81
1090        1090  2018      2              3          East      2      76
1091        1091  2018      2              3          East      3      69
1092        1092  2018      2              3          East      5      94
1093        1093  2018      2              4       Midwest      1      83
1094        1094  2018      2              4       Midwest      2      87
1095        1095  2018      2              4       Midwest      3      53
1096        1096  2018      2              4       Midwest      4      53
1097        1097  2018      3              1         South      5      58
1098        1098  2018      3              1         South      7      68
1099        1099  2018      3              2          West      4      60
1100        1100  2018      3              2          West      3      99
1101        1101  2018      3              3          East      1      90
1102        1102  2018      3              3          East      2      65
1103        1103  2018      3              4       Midwest      1      80
1104        1104  2018      3              4       Midwest      2      69
1105        1105  2018      4              1         South      9      62
1106        1106  2018      4              2          West      3      58
1107        1107  2018      4              3          East      1      71
1108        1108  2018      4              4       Midwest      1      85
1109        1109  2018      5              1    Final Four      3      69
1110        1110  2018      5              2    Final Four      1      79
1111        1111  2018      6              1  Championship      1      79

               TeamA                   TeamB  ScoreB  SeedB
0          Alcorn St                   Siena      81     16
1               Duke                Winthrop      37     16
2            Alabama        Florida Atlantic      78     15
3         Pittsburgh  Central Connecticut St      54     14
4                USC          UNC Wilmington      93     13
5            Indiana                    Utah      56     12
6         California            Pennsylvania      75     11
7        Oklahoma St                 Kent St      69     10
8         Notre Dame               Charlotte      63      9
9         Cincinnati       Boston University      52     16
10          Oklahoma        Illinois Chicago      63     15
11           Arizona           Santa Barbara      81     14
12           Ohio St                Davidson      64     13
13             Miami                Missouri      93     12
14           Gonzaga                 Wyoming      73     11
15            Xavier                  Hawaii      58     10
16              UCLA                Ole Miss      58      9
17          Maryland                   Siena      70     16
18       Connecticut                 Hampton      67     15
19           Georgia               Murray St      68     14
20          Kentucky              Valparaiso      68     13
21         Marquette                   Tulsa      71     12
22        Texas Tech       Southern Illinois      76     11
23          NC State             Michigan St      58     10
24         Wisconsin                St Johns      70      9
25            Kansas              Holy Cross      59     16
26            Oregon                 Montana      62     15
27    Mississippi St              McNeese St      58     14
28          Illinois            San Diego St      64     13
29           Florida               Creighton      83     12
...              ...                     ...     ...    ...
1082      Cincinnati                  Nevada      75      7
1083       Tennessee          Loyola Chicago      63     11
1084        Kentucky                 Buffalo      75     13
1085          Xavier              Florida St      75      9
1086  North Carolina               Texas A&M      86      7
1087        Michigan                 Houston      63      6
1088         Gonzaga                 Ohio St      84      5
1089       Villanova                 Alabama      58      9
1090          Purdue                  Butler      73     10
1091      Texas Tech                 Florida      66      6
1092   West Virginia                Marshall      71     13
1093          Kansas              Seton Hall      79      8
1094            Duke            Rhode Island      62      7
1095     Michigan St                Syracuse      55     11
1096          Auburn                 Clemson      84      5
1097        Kentucky               Kansas St      61      9
1098          Nevada          Loyola Chicago      69     11
1099         Gonzaga              Florida St      75      9
1100        Michigan               Texas A&M      72      7
1101       Villanova           West Virginia      78      5
1102          Purdue              Texas Tech      78      3
1103          Kansas                 Clemson      76      5
1104            Duke                Syracuse      65     11
1105       Kansas St          Loyola Chicago      78     11
1106        Michigan              Florida St      54      9
1107       Villanova              Texas Tech      59      3
1108          Kansas                    Duke      81      2
1109        Michigan          Loyola Chicago      57     11
1110          Kansas               Villanova      95      1
1111       Villanova                Michigan      62      3

[1112 rows x 11 columns]
      Unnamed: 0  Season                TeamName    Tempo  AdjTempo       OE  \
0              0    2002                    Duke  77.0734   73.9016  116.373
1              1    2002              Cincinnati  68.4368   66.9485  112.274
2              2    2002                  Kansas  79.0371   77.6019  114.544
3              3    2002                Maryland  75.2758   73.3263  113.167
4              4    2002                 Florida  71.8971   69.5612  110.418
5              5    2002                Oklahoma  69.3604   65.8584  111.044
6              6    2002                  Oregon  73.3053   70.5594  116.342
7              7    2002                 Indiana  65.7442   64.7779  105.397
8              8    2002               Marquette  67.3809   64.5763  108.564
9              9    2002                Kentucky  70.2659   67.6361  105.277
10            10    2002                Illinois  70.3965   68.6908  109.664
11            11    2002                     USC  71.6328   69.4315  107.349
12            12    2002                 Arizona  74.1462   71.2261  111.008
13            13    2002                Stanford  71.4355   69.5528  112.521
14            14    2002                 Ohio St  66.3782   66.4133  111.339
15            15    2002                 Alabama  69.8636   67.8101  108.436
16            16    2002                 Gonzaga  70.9780   67.9914  112.748
17            17    2002                 Kent St  65.4145   64.1921  115.755
18            18    2002              Pittsburgh  66.5007   63.3188  107.340
19            19    2002          Mississippi St  70.0123   67.6977  104.527
20            20    2002                 Georgia  70.6786   69.2028  108.448
21            21    2002                  Xavier  66.8298   66.4403  108.351
22            22    2002             Connecticut  71.8605   68.9657  106.195
23            23    2002                Ole Miss  66.9670   64.2148  107.729
24            24    2002                NC State  69.9059   67.2156  108.394
25            25    2002              Notre Dame  70.3693   68.1446  109.000
26            26    2002              Texas Tech  72.5477   69.7493  109.076
27            27    2002             Michigan St  64.8412   62.9567  107.569
28            28    2002               Charlotte  68.4682   66.7234  107.288
29            29    2002              California  68.9445   66.4567  104.047
...          ...     ...                     ...      ...       ...      ...
1099        1099    2018              Arizona St  72.6271   71.5605  114.116
1100        1100    2018                Oklahoma  76.7604   75.8225  109.892
1101        1101    2018                    UCLA  71.5042   70.5038  111.895
1102        1102    2018            Rhode Island  69.1899   68.6547  109.867
1103        1103    2018            San Diego St  70.3480   68.6523  109.484
1104        1104    2018                 Alabama  70.2901   68.7962  102.776
1105        1105    2018                Syracuse  64.5151   63.3993  103.016
1106        1106    2018           New Mexico St  69.8333   68.2276  107.914
1107        1107    2018               Murray St  67.6785   67.3002  114.708
1108        1108    2018              Providence  69.5072   67.0963  104.379
1109        1109    2018          St Bonaventure  69.1907   69.2408  111.094
1110        1110    2018                 Montana  69.8542   67.9708  110.016
1111        1111    2018         South Dakota St  72.0656   70.2629  114.095
1112        1112    2018                 Buffalo  73.8527   72.8022  113.539
1113        1113    2018          UNC Greensboro  66.0852   64.9776  106.847
1114        1114    2018              Georgia St  67.7416   66.8969  108.676
1115        1115    2018                Bucknell  72.5377   71.4452  110.427
1116        1116    2018        Stephen F Austin  72.7304   71.1416  107.235
1117        1117    2018                Marshall  75.9031   74.8308  108.999
1118        1118    2018   College of Charleston  65.9339   64.6463  111.949
1119        1119    2018            Pennsylvania  70.0693   68.8538  105.352
1120        1120    2018                    Iona  71.5971   70.6965  109.478
1121        1121    2018               Wright St  69.7118   68.2124  101.383
1122        1122    2018        Cal St Fullerton  69.7610   69.5384  102.990
1123        1123    2018                Lipscomb  76.5171   74.8966  104.015
1124        1124    2018                 Radford  63.2984   62.7351  104.001
1125        1125    2018                    UMBC  69.0605   68.1857  104.772
1126        1126    2018          Texas Southern  72.5410   71.5742  106.410
1127        1127    2018    Long Island Brooklyn  72.4794   71.3779  105.478
1128        1128    2018  North Carolina Central  67.8052   64.9456  103.453

         AdjOE        DE     AdjDE      AdjEM      ...         O_TO_Pct  \
0     121.3740   90.2544   87.3522  34.022000      ...        18.569900
1     117.4480   86.3924   86.6033  30.844200      ...        17.114200
2     118.1000   94.4261   90.3113  27.788300      ...        20.425300
3     118.1510   94.3706   91.2974  26.853400      ...        18.328700
4     115.3870   91.1250   89.6694  25.717600      ...        20.523200
5     113.3060   91.4413   88.4422  24.863700      ...        17.028300
6     119.9240   96.8665   95.8006  24.123600      ...        18.454400
7     112.5950   94.4987   89.6736  22.921300      ...        20.607400
8     113.2980   90.0151   91.0361  22.261500      ...        20.481800
9     112.5360   94.9881   90.3566  22.179200      ...        20.193000
10    114.7960   96.4559   92.8809  21.914900      ...        20.823800
11    112.8200   95.4624   90.9967  21.823200      ...        16.843600
12    119.2120  104.0410   97.3917  21.819900      ...        18.964900
13    116.8570   99.8010   95.8058  21.050900      ...        18.852700
14    116.8920   96.5748   96.0636  20.828500      ...        19.710200
15    114.1770   95.2313   94.1585  20.018100      ...        20.026700
16    116.2950   93.6616   96.4997  19.795200      ...        19.702900
17    115.8990   96.7084   96.5628  19.336200      ...        16.472000
18    111.8040   90.1442   92.5312  19.272800      ...        21.054600
19    111.7970   94.7267   92.8341  18.963200      ...        23.611700
20    116.0910  100.5110   97.2536  18.837100      ...        19.910600
21    111.2430   93.2482   92.5336  18.709500      ...        20.232600
22    110.5790   93.6429   92.0294  18.549900      ...        22.044300
23    114.2240   95.6265   95.8383  18.385400      ...        22.687300
24    112.1690   96.7003   93.9116  18.257300      ...        19.087000
25    115.3190   95.8235   97.5508  17.767800      ...        18.573100
26    114.2620   97.7252   96.9368  17.324900      ...        17.004300
27    113.2900   98.5233   96.0881  17.201700      ...        23.028400
28    114.5010   99.0580   97.5064  16.994200      ...        19.827600
29    109.7060   94.9897   92.8917  16.814300      ...        19.035400
...        ...       ...       ...        ...      ...              ...
1099  117.6510  103.2830  102.9370  14.714000      ...        14.727430
1100  115.1280  105.8850  100.7090  14.419000      ...        17.331845
1101  116.4470  104.0730  102.0630  14.383400      ...        16.554299
1102  111.7100   98.0447   97.3280  14.381800      ...        15.319526
1103  111.2860   97.2819   97.1358  14.150400      ...        17.008615
1104  108.4590   99.7099   94.6334  13.825200      ...        20.318542
1105  107.7050   98.3289   94.1122  13.592900      ...        19.167303
1106  108.4570   92.5302   94.9001  13.557300      ...        17.386605
1107  113.1390   97.5056  100.4440  12.695100      ...        17.551320
1108  108.9260  102.9610   97.0075  11.918900      ...        17.386118
1109  112.2880  101.0780  101.0930  11.195400      ...        16.348802
1110  110.1440   96.8396   99.3132  10.830400      ...        17.443722
1111  114.6290  103.3790  104.0380  10.590700      ...        13.954438
1112  114.2840  102.4400  103.7910  10.493100      ...        16.472678
1113  105.6720   93.9610   96.6156   9.056200      ...        19.782918
1114  109.0450   98.4189  101.8350   7.209210      ...        16.718077
1115  109.1820   98.8600  102.3680   6.813700      ...        17.004718
1116  104.9830   93.9618   99.4206   5.562890      ...        20.704095
1117  109.3280  102.9150  103.9440   5.384020      ...        17.200369
1118  109.8870  103.5260  105.1530   4.734180      ...        15.143534
1119  103.5530   96.7516   99.8577   3.695390      ...        16.653351
1120  110.2610  104.1960  107.3880   2.872630      ...        15.958629
1121  101.0680   94.0649   98.2510   2.816740      ...        18.620325
1122  104.9840  101.5260  103.6690   1.315400      ...        20.702806
1123  103.7930  100.6820  103.4300   0.363623      ...        19.962624
1124  103.5810  100.5090  103.6290  -0.047778      ...        18.743460
1125  103.3890  102.7730  105.2970  -1.908600      ...        17.231122
1126  105.2810  109.3110  112.9400  -7.659000      ...        17.207160
1127  103.3350  105.4730  111.1350  -7.800280      ...        19.460192
1128   98.1525  103.5120  110.8890 -12.736600      ...        20.850915

       D_TO_Pct  D-O_TO_Pct   O_OR_Pct   D_OR_Pct  O-D_OR_Pct  O_FT_Rate  \
0     25.686500    7.116600  34.460500  34.061800    0.398700  41.014000
1     21.248100    4.133900  37.714300  31.323500    6.390800  40.511800
2     20.642500    0.217200  41.208400  32.521400    8.687000  35.223900
3     20.513300    2.184600  36.051800  33.553500    2.498300  41.503600
4     25.221800    4.698600  38.496000  33.131500    5.364500  36.176900
5     23.234900    6.206600  40.073800  31.707300    8.366500  31.389700
6     20.236500    1.782100  33.904400  32.554500    1.349900  41.600800
7     21.365900    0.758500  32.934100  33.230300   -0.296200  37.285500
8     24.993200    4.511400  39.640500  33.570200    6.070300  39.109200
9     22.728400    2.535400  41.166200  34.569000    6.597200  31.768900
10    21.962600    1.138800  35.539400  31.715000    3.824400  44.617000
11    23.736100    6.892500  36.400000  32.463000    3.937000  33.252500
12    18.289000   -0.675900  35.332800  35.976100   -0.643300  44.607800
13    16.962800   -1.889900  40.071900  29.060600   11.011300  44.596800
14    22.472400    2.762200  35.707000  31.506800    4.200200  46.709800
15    22.033500    2.006800  40.173600  34.894300    5.279300  40.753300
16    18.698100   -1.004800  38.200200  29.379400    8.820800  44.313300
17    20.687800    4.215800  38.099200  31.452300    6.646900  35.679100
18    22.029000    0.974400  38.796000  30.527100    8.268900  38.044600
19    22.113200   -1.498500  39.126700  31.873100    7.253600  39.287500
20    20.910600    1.000000  39.510500  36.300800    3.209700  36.262600
21    20.046500   -0.186100  36.837100  33.361100    3.476000  45.323300
22    20.143200   -1.901100  39.726000  36.161300    3.564700  39.115300
23    23.331300    0.644000  34.787200  32.121200    2.666000  42.393400
24    23.563200    4.476200  30.971100  30.643700    0.327400  38.900500
25    19.663100    1.090000  35.672000  33.584900    2.087100  34.044700
26    20.987700    3.983400  34.485600  36.838000   -2.352400  38.419200
27    17.159400   -5.869000  39.148500  29.758700    9.389800  34.703800
28    19.487400   -0.340200  35.700800  32.352900    3.347900  35.606900
29    24.795500    5.760100  32.818200  35.835600   -3.017400  36.181700
...         ...         ...        ...        ...         ...        ...
1099  20.352192    5.624762  27.925532  30.624465   -2.698933  41.302083

In [24]:
###mask test and train data###
res_test_mask = (full_results['Year'] == 2016) | (full_results['Year'] == 2017) | (full_results['Year'] == 2018)
stats_test_mask = (full_stats['Season'] == 2016) | (full_stats['Season'] == 2017) | (full_stats['Season'] == 2018)
res_train_mask = (full_results['Year'] < 2016)
stats_train_mask = (full_stats['Season'] < 2016)

res_data_test = full_results[res_test_mask]
stats_data_test = full_stats[stats_test_mask]
res_data_train = full_results[res_train_mask]
stats_data_train = full_stats[stats_train_mask]

#res_data_test.tail()
#stats_data_test.tail()
#res_data_train.tail()
#stats_data_train.tail()

In [4]:
stats_vec = ["AdjTempo", 
            "AdjOE",
            "AdjDE - have to flip",
            "AdjEM",
            "Seed",
            "ConfTournament",
            "SOSEM",
            "NCSOSAdjEM",
            "O-D_eFG_Pct",
            "D-O_TO_Pct",
            "O-D_OR_Pct",
            "O-D_FT_Rate",
            "LastTenRecord"]

print(len(stats_vec))

13